<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<formulario #ctrl URL="incidencias-transito" titulo="Incidencias en Transito / Transacciones" [dato]="dato"></formulario>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>

<div class="contenedor columns " style="height:100%; ">
  <div class="column is-2 is-hidden-mobile menu-izquierda">

    <!-- Menu izquierda del modulo enviroment" -->
    <sistema-menu-aside></sistema-menu-aside>
  </div>
  <div class="column" style="padding:0.5em;">
    <div style="background: #FFF; border-radius: 1em; ">

      <!-- formulario -->
      <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()">
        <section class="hero is-primary">
          <div class="hero-body">
            <!-- Opciones  -->
            <nav class="level">
              <!-- Left side -->
              <div class="level-left">
                <div class="level-item">
                  <p class="title">
                    <span *ngIf="!ctrl.cargando" class="icon is-medium">
                      <i class="{{icono}}"></i>
                    </span>
                    <span *ngIf="ctrl.cargando" class="icon is-medium">
                      <i class="fa fa-refresh fa-spin"></i>
                    </span>
                    <span class="icon is-medium">
                      <i class="fa" [ngClass]="ctrl.moduloTitulo == 'Nuevo' ? 'fa-file': 'fa-edit'"></i>
                    </span> {{modulo_actual}}
                  </p>
                </div>

              </div>

              <!-- Right side -->
              <div class="level-right">
                <a class="navbar-item tooltip" (click)="ctrl.regresar()">
                  <span class="icon fa-2x">
                    <i class="fa fa-arrow-left"> </i>
                  </span>
                  <span class="tooltiptext">Regresar</span>
                </a>

                <a id="catalogos" class="navbar-item tooltip" (click)="ctrl.cargarCatalogo('estados_embarazos', 'estados-embarazos');
                    ctrl.cargarCatalogo('derechohabientes', 'derechohabientes');
                    ctrl.cargarCatalogo('parentescos', 'parentescos');
                    ctrl.cargarCatalogo('municipios_e', 'municipios', 'localidades');
                    ctrl.cargarCatalogo('top_cie10', 'top-cie10');
                    ctrl.cargarCatalogo('estados_pacientes', 'estados-pacientes');
                    ctrl.cargarCatalogo('ubicaciones_pacientes', 'ubicaciones-pacientes');
                    ctrl.cargarCatalogo('triage_colores', 'triage-colores');
                    ctrl.cargarCatalogo('turnos_varios', 'turnos');">

                    <span class="tooltiptext">Catálogos</span>

                    <span *ngIf="!ctrl.cargando" class="icon fa-2x has-text-succes">
                        <i class="fa fa-spinner"></i>
                    </span>
                    <span *ngIf="ctrl.cargando" class="icon fa-2x has-text-succes">
                        <i class="fa fa-spinner fa-spin"></i>
                    </span>
                </a>
                
                <a id="localidades"
                    (click)="ctrl.catalogoDependiente('localidades', 'localidades_o', ctrl.dato.controls.pacientes?.controls[0].controls.personas.controls.municipios_id.value)">
                </a>

                <a *ngIf="ctrl.id" id="cargar_datos_actualizar" class="navbar-item tooltip" (click)="cargarDatos();">
                  <span class="icon fa-2x">
                    <i class="fa fa-refresh"></i>
                  </span>
                  <span class="tooltiptext">Actualizar</span>
                </a>

                <a class="navbar-item tooltip" routerLink="{{url_nuevo}}" *ngIf="(permisos.indexOf(controlador + '.store') > -1 || permisos.indexOf( 'Sis' + controlador + '.store') > -1) && ctrl.id">
                  <span class="icon fa-2x">
                    <i class="fa fa-file"></i>
                  </span>
                  <span class="tooltiptext">Nuevo</span>
                </a>

                <button class="navbar-item  is-success tooltip" type="submit" [ngClass]="{'is-loading': ctrl.cargando}" [disabled]="ctrl.dato.invalid"
                  *ngIf="(permisos.indexOf(controlador + '.store') > -1 || permisos.indexOf( 'Sis'+ controlador + '.store') > -1 || permisos.indexOf(controlador + '.update') > -1 || permisos.indexOf( 'Sis' + controlador + '.update') > -1)">
                  <span class="icon fa-2x has-text-success">
                    <i class="fa fa-save"> </i>
                  </span>
                  <span class="tooltiptext">Guardar</span>
                </button>
                <button class="navbar-item  is-danger tooltip" type="button" [ngClass]="{'is-loading': ctrl.cargando}" (click)="ctrl.eliminar(ctrl.id)"
                  *ngIf="(permisos.indexOf(controlador + '.destroy') > -1 || permisos.indexOf( 'Sis' + controlador + '.destroy') > -1) && ctrl.id">
                  <span class="icon fa-2x has-text-danger">
                    <i class="fa fa-trash"></i>
                  </span>
                  <span class="tooltiptext">Eliminar</span>
                </button>
              </div>
            </nav>
          </div>
        </section>

        <section class="section" style="padding: 2rem 2rem !important; overflow:auto;" [style.maxHeight.px]="tamano-175">
<!--is-desktop is-tablet is-hidden-mobile-->
          <div class="tabs is-toggle is-fullwidth">
            <ul>
              <li [ngClass]="{ 'is-active' : tab == 1}">
                <a (click)="tab=1">
                  <span class="icon is-small">
                    <i class="fa fa-female"></i>
                  </span>
                  <span>Datos Personales</span>
                </a>
              </li>
              <li [ngClass]="{ 'is-active' : tab == 2}">
                <a (click)="tab=2">
                  <span class="icon is-small">
                    <i class="fa fa-hospital-o"></i>
                  </span>
                  <span>Datos del Ingreso</span>
                </a>
              </li>
              <li [ngClass]="{ 'is-active' : tab == 3}">
                <a (click)="tab=3">
                  <span class="icon is-small">
                    <i class="fa fa-ambulance"></i>
                  </span>
                  <span>Datos de Referencia</span>
                </a>
              </li>
            </ul>
          </div>
          <br>

          <div class="box">


            <label class="label">N° Folio de la Incidencia</label>
            <div class="field is-grouped">
              <p *ngIf="mostrar_folio" class="control">
                <a class="button is-primary" (click)="generar_folio(this.dato.controls.id, true);">Actualizar Folio</a>
              </p>
              <p class="control is-expanded">
                <input class="input" autofocus type="text" placeholder="Folio" formControlName="id" readonly>
              </p>

            </div>


          </div>

          <div [ngClass]="{ 'is-hidden': tab != 1}">
            <div formArrayName="pacientes">
              <!-- <div *ngIf="ctrl.dato.get('pacientes').value[0].personas_id" *ngIf="!llenando_formulario" formArrayName="insumos" style="overflow: scroll; overflow-x: hidden; height: 550px;">
                                                <div class="box" *ngFor="let item of ctrl.dato.controls.insumos.controls; let i=index" [ngStyle]="{'background': i%2 == 0 ? 'rgba(230, 230, 232, 0.44)' : ''}"> -->
              <div *ngFor="let item of ctrl.dato.controls.pacientes?.controls; let i=index" [formGroupName]="i">
                <nav class="panel">
                  <div class="panel-heading column is-12">
                    Paciente
                  </div>
                  <div class="box">
                    <div class="columns">
                      <div class="column is-12">

                        <p class="control is-expanded  has-icon has-icon-right">
                          <label class="label">Curp:</label>
                          <input ngui-auto-complete autocomplete="false"
                            [source]="personas_term"
                            [list-formatter]="autocompleFormatoCurp"
                            [value-formatter]="valorFormato_curp"
                            [tab-to-select]="false"
                            id="curp" path-to-data="" loading-text="Cargando..."
                            no-match-found-text="No hay resultados."
                            (valueChanged)="ctrl.select_item_autocomplete(ctrl.dato.controls.pacientes.controls[i].controls.personas_id, 'id', $event, false);
                            select_datosPaciente_autocomplete($event, 'id');" min-chars="4" class="input" type="text" placeholder="CURP"
                            (blur)="asignar_curp();" [ngClass]="{'is-danger': !item.controls.personas_id.valid}" formControlName="personas_id">

                          <span class="help is-danger" *ngIf="!item.controls.personas_id.valid">Este campo es requerido.</span>


                        </p>
                      </div>
                    </div>

                    <div formGroupName="personas">
                      <div class="columns">
                        <div class="column is-12">
                          <p class="control is-expanded has-icon has-icon-right">
                            <label class="label">Fecha de Nacimiento:</label>
                            <input class="input" type="date" [ngClass]="{'is-danger': !item.controls.personas.controls.fecha_nacimiento.valid}" placeholder="Fecha de Nacimiento"
                              formControlName="fecha_nacimiento">
                            <span class="help is-danger" *ngIf="!item.controls.personas.controls.fecha_nacimiento.valid">Este campo es requerido.</span>
                          </p>
                        </div>
                      </div>


                      <div class="columns">
                        <div class="column is-4">
                          <p class="control is-expanded  has-icon has-icon-right">
                            <label class="label">Nombre(s):</label>
                            <input class="input" autofocus type="text" [ngClass]="{'is-danger': !item.controls.personas.controls.nombre.valid}" placeholder="Nombre(s)"
                              formControlName="nombre">
                            <span class="help is-danger" *ngIf="!item.controls.personas.controls.nombre.valid">Este campo es requerido.</span>

                          </p>
                        </div>


                        <div class="column is-4">
                          <p class="control is-expanded  has-icon has-icon-right">
                            <label class="label">Apellido Paterno:</label>
                            <input class="input" autofocus type="text" [ngClass]="{'is-danger': !item.controls.personas.controls.paterno.valid}" placeholder="Apellido Paterno"
                              formControlName="paterno">
                            <span class="help is-danger" *ngIf="!item.controls.personas.controls.paterno.valid">Este campo es requerido.</span>
                          </p>
                        </div>
                        <div class="column is-4">
                          <p class="control is-expanded  has-icon has-icon-right">
                            <label class="label">Apellido Materno:</label>
                            <input class="input" autofocus type="text" [ngClass]="{'is-danger': !item.controls.personas.controls.materno.valid}" placeholder="Apellido Materno"
                              name="materno" formControlName="materno">
                            <span class="help is-danger" *ngIf="!item.controls.personas.controls.materno.valid">Este campo es requerido.</span>
                          </p>
                        </div>
                      </div>


                      <div class="columns">
                        <div class="column is-4">
                          <p class="control is-expanded has-icon has-icon-right">
                            <label class="label">Teléfono</label>
                            <input class="input" type="text" placeholder="Teléfono" [ngClass]="{'is-danger': !item.controls.personas.controls.telefono.valid}"
                              formControlName="telefono">
                            <span class="help is-danger" *ngIf="!item.controls.personas.controls.telefono.valid">Este campo es requerido.</span>
                            <span class="help is-danger" *ngIf="item.controls.personas.controls.telefono.hasError('pattern')">Este campo debe contener un número celular, Ejemplo: <b>9671012030</b></span>
                          </p>
                        </div>
                        <div class="column is-8">
                          <p class="control is-expanded has-icon has-icon-right">
                            <label class="label">Domicilio</label>
                            <input class="input" type="text" placeholder="Domicilio" [ngClass]="{'is-danger': !item.controls.personas.controls.domicilio.valid}"
                              formControlName="domicilio">
                            <span class="help is-danger" *ngIf="!item.controls.personas.controls.domicilio.valid">Este campo es requerido.</span>

                          </p>
                        </div>
                      </div>


                      <div class="columns">

                        <div class="column is-6">
                          <label class="label">Municipio: </label>
                            <div class="control is-grouped has-icons-left">

                                <span *ngIf="ctrl.cargando" class="tag is-primary is-large">Cargando Municipios...
                                    <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                                </span>

                                <div *ngIf="ctrl.municipios_e && !ctrl.cargando" class="control is-expanded has-icon-left">

                                  <span class="select" [ngClass]="{'is-danger': item.get('personas').get('municipios_id').hasError('required')}">
                                    <select class="select" name="municipios_id" formControlName="municipios_id" (change)="ctrl.catalogoDependiente('localidades', 'localidades_o', ctrl.dato.controls.pacientes?.controls[0].controls.personas.controls.municipios_id.value)"> 
                                        <option value="">Seleccione el Municipio del Paciente</option>                                       
                                        <option *ngFor="let item of ctrl.municipios_e" value="{{item.id}}">{{item.nombre}}</option>                                        
                                    </select>
                                  </span>

                                  <span class="icon is-small" *ngIf="!ctrl.cargando && item.get('personas').get('municipios_id').hasError('required')">
                                    <i class="fa fa-warning"></i>
                                  </span>
    
                                  <span class="help is-danger" *ngIf="item.get('personas').get('municipios_id').hasError('required')">
                                    Este campo es requerido.
                                  </span>
    
                                  <span class="icon is-small is-left" *ngIf="!ctrl.cargando && !item.get('personas').get('municipios_id').hasError('required')">
                                    <i class="fa fa-globe"></i>
                                  </span>
                                </div>
                            </div>
                        </div>

                        <div class="column is-6">
                          <label class="label">Localidad: </label>
                          <div class="control is-grouped has-icons-left">

                            <div *ngIf="ctrl.localidades_o" class="control is-expanded has-icon-left">

                              <span class="select" [ngClass]="{'is-danger': item.get('personas').get('localidades_id').hasError('required')}">
                                <select class="select" formControlName="localidades_id"> 
                                    <option value="">Seleccione la Localidad del Paciente</option>                                       
                                    <option *ngFor="let item of ctrl.localidades_o" value="{{item.id}}">{{item.nombre}}</option>                                        
                                </select>
                              </span>

                              <span class="icon is-small" *ngIf="item.get('personas').get('localidades_id').hasError('required')">
                                  <i class="fa fa-warning"></i>
                              </span>

                              <span class="help is-danger" *ngIf="item.get('personas').get('localidades_id').hasError('required')">
                                  Este campo es requerido.
                              </span>

                              <span class="icon is-small is-left" *ngIf="!item.get('personas').get('localidades_id').hasError('required')">
                                  <i class="fa fa-globe"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="control">
                          <label class="label">Sexo del paciente: </label>
                          <label class="radio">
                            <input #femenino type="radio" name="sexo" 
                            (click)="validar_sexo()" [checked]="this.esFemenino == 'F' || this.esFemenino == ''">
                            <i class="fa fa-female"></i>
                            Femenino
                          </label>
                          <label class="radio">
                            <input #masculino type="radio" name="sexo"
                            (click)="validar_sexo()" [checked]="this.esMasculino == 'M'">
                            <i class="fa fa-male"></i>
                            Masculino
                          </label>
                      </div>
                      <br>
                      <div class="columns">

                        <div class="column is-6" [ngClass]="{ 'is-hidden': mostrar_estado_embarazo == false}">
                          <label class="label">Estado de Embarazo: </label>
                          <div class="control is-grouped has-icons-left">

                            <span *ngIf="ctrl.cargando" class="tag is-primary is-large">Cargando los Estados de Embarazo...
                              <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                            </span>

                            <div *ngIf="ctrl.estados_embarazos && !ctrl.cargando" class="control is-expanded has-icon-left">

                              <span class="select" [ngClass]="{'is-danger': item.get('personas').get('estados_embarazos_id').hasError('required')}">
                                                                            
                                <select class="select" name="estados_embarazos_id" formControlName="estados_embarazos_id">
                                  <option value="null" [ngClass]="{'is-hidden': item.get('personas').get('estados_embarazos_id') !=''}">Seleccione el Estado de Embarazo de la Paciente:</option>
                                  <option value="">Seleccione el Estado de Embarazo de la Paciente:</option>
                                  <option *ngFor="let val of ctrl.estados_embarazos" value="{{val.id}}">{{ val.nombre }}</option>
                                </select>
                              </span>

                              <span class="icon is-small" *ngIf="!ctrl.cargando && item.get('personas').get('estados_embarazos_id').hasError('required')">
                                <i class="fa fa-warning"></i>
                              </span>

                              <span class="help is-danger" *ngIf="item.get('personas').get('estados_embarazos_id').hasError('required')">
                                Este campo es requerido.
                              </span>

                              <span class="icon is-small is-left" *ngIf="!ctrl.cargando && !item.get('personas').get('estados_embarazos_id').hasError('required')">
                                <i class="fa fa-heartbeat"></i>
                              </span>
                            </div>
                          </div>

                        </div>

                        <div class="column is-6">
                          <label class="label">Derechohabiente: </label>
                          <div class="control is-grouped has-icons-left">

                              <span *ngIf="ctrl.cargando" class="tag is-primary is-large">Cargando Servicios Médicos...
                                  <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                              </span>

                              <div *ngIf="ctrl.derechohabientes && !ctrl.cargando" class="control is-expanded has-icon-left">

                                  <span class="select" [ngClass]="{'is-danger': item.get('personas').get('derechohabientes_id').hasError('required')}">
                                      <select class="select" name="derechohabientes_id" formControlName="derechohabientes_id">
                                          <option value="">Seleccione el Servicio Médico del Paciente:</option>
                                          <option *ngFor="let val of ctrl.derechohabientes" value="{{val.id}}">{{ val.nombre }}</option>
                                      </select>
                                  </span>

                                  <span class="icon is-small" *ngIf="!ctrl.cargando && item.get('personas').get('derechohabientes_id').hasError('required')">
                                      <i class="fa fa-warning"></i>
                                  </span>

                                  <span class="help is-danger" *ngIf="item.get('personas').get('derechohabientes_id').hasError('required')">
                                      Este campo es requerido.
                                  </span>

                                  <span class="icon is-small is-left" *ngIf="!ctrl.cargando && !item.get('personas').get('derechohabientes_id').hasError('required')">
                                      <i class="fa fa-id-card-o"></i>
                                  </span>
                              </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="panel column is-12">
                    <div formArrayName="acompaniantes">
                      <div *ngFor="let pe_aco of ctrl.dato.controls.pacientes?.controls[i].controls.acompaniantes.controls; let cont = index" [formGroupName]="cont">

                        <div class="panel-heading column is-12">
                          <p>
                            {{cont == 0 ? 'Acompañante / Responsable' : 'Responsable'}}
                            <!-- // COMENTAR <label class="checkbox" style="float:right"><input type="checkbox" id= "checar" (change)="mostrar = !mostrar; mostrar ? ctrl.agregar_form_array(ctrl.dato.controls.acompaniantes.controls, form_responsable) : ctrl.quitar_form_array(ctrl.dato.controls.acompaniantes, 1); " formControlName="esResponsable">¿Es responsable?</label>
                            <label style="float:right" *ngIf="cont == 0">¿Es responsable de la Paciente?
                              <label class="radio">
                                <input type="radio" name="esResponsable"
                                  (click)="quitar_form_array_responsable(ctrl.dato.controls.pacientes.controls[i].controls.acompaniantes, 1); ctrl.dato.controls.pacientes.controls[i].controls.acompaniantes.controls[cont].controls.esResponsable.patchValue(1);"
                                  [checked]="ctrl.dato.get('pacientes').value[i].acompaniantes[0].esResponsable">Si</label>
                              <label class="radio">
                                <input type="radio" name="esResponsable"
                                (click)="agregar_responsable_array();"
                                [checked]="!ctrl.dato.get('pacientes').value[i].acompaniantes[0].esResponsable">No</label>
                            </label> -->
                          </p>
                        </div>

                        <div class="box">

                          <div class="columns">
                            <div class="column is-6">
                              <p class="control is-expanded  has-icon has-icon-right">
                                <label class="label">Curp:</label>
                                <input class="input" autofocus type="text" (blur)="asignar_curp();" placeholder="CURP"
                                [ngClass]="{'is-danger': !pe_aco.controls.personas_id.valid}" formControlName="personas_id">

                                <span class="help is-danger" *ngIf="!pe_aco.controls.personas_id.valid">Este campo es requerido.</span>
                              </p>
                            </div>

                            <div class="column is-6">
                              <label class="label">Parentesco: </label>
                              <div class="control is-grouped has-icons-left">
                                <span *ngIf="ctrl.cargando" class="tag is-primary is-large">Cargando Parentesco del Paciente...
                                  <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                                </span>

                                <div *ngIf="ctrl.parentescos && !ctrl.cargando" class="control is-expanded has-icon-left">

                                  <span class="select" [ngClass]="{'is-danger': item.controls.acompaniantes.controls[cont].controls.parentescos_id.hasError('required')}">
                                    <select class="select" name="parentescos_id" formControlName="parentescos_id">
                                      <option value="">Seleccione el Parentesco del Paciente:</option>
                                      <option *ngFor="let val of ctrl.parentescos" value="{{val.id}}">{{ val.nombre }}</option>
                                    </select>
                                  </span>

                                  <span class="icon is-small" *ngIf="!ctrl.cargando && item.controls.acompaniantes.controls[cont].controls.parentescos_id.hasError('required')">
                                    <i class="fa fa-warning"></i>
                                  </span>

                                  <span class="help is-danger" *ngIf="item.controls.acompaniantes.controls[cont].controls.parentescos_id.hasError('required')">
                                    Este campo es requerido.
                                  </span>

                                  <span class="icon is-small is-left" *ngIf="!ctrl.cargando && !item.controls.acompaniantes.controls[cont].controls.parentescos_id.hasError('required')">
                                    <i class="fa fa-users"></i>
                                  </span>
                                </div>
                              </div>

                            </div>
                          </div>

                          <div formGroupName="personas">

                            <div class="columns">
                              <div class="column is-4">
                                <p class="control is-expanded  has-icon has-icon-right">
                                  <label class="label">Nombre(s):</label>
                                  <input class="input" autofocus type="text" [ngClass]="{'is-danger': item.controls.acompaniantes.controls[cont].controls.personas.controls.nombre.hasError('required')}"
                                    placeholder="Nombre(s)" formControlName="nombre">
                                  <span class="help is-danger" *ngIf="item.controls.acompaniantes.controls[cont].controls.personas.controls.nombre.hasError('required')">Este campo es requerido.</span>
                                </p>
                              </div>

                              <div class="column is-4">
                                <p class="control is-expanded  has-icon has-icon-right">
                                  <label class="label">Apellido Paterno:</label>
                                  <input class="input" autofocus type="text" [ngClass]="{'is-danger': item.controls.acompaniantes.controls[cont].controls.personas.controls.paterno.hasError('required')}"
                                    placeholder="Apellido Paterno" formControlName="paterno">
                                  <span class="help is-danger" *ngIf="item.controls.acompaniantes.controls[cont].controls.personas.controls.paterno.hasError('required')">Este campo es requerido.</span>
                                </p>
                              </div>
                              <div class="column is-4">
                                <p class="control is-expanded  has-icon has-icon-right">
                                  <label class="label">Apellido Materno:</label>
                                  <input class="input" autofocus type="text" [ngClass]="{'is-danger': item.controls.acompaniantes.controls[cont].controls.personas.controls.materno.hasError('required')}"
                                    placeholder="Apellido Materno" name="materno" formControlName="materno">
                                  <span class="help is-danger" *ngIf="item.controls.acompaniantes.controls[cont].controls.personas.controls.materno.hasError('required')">Este campo es requerido.</span>
                                </p>
                              </div>
                            </div>


                            <div class="columns">
                              <div class="column is-6">
                                <p class="control is-expanded has-icon has-icon-right">
                                  <label class="label">Teléfono: </label>
                                  <input class="input" type="text" placeholder="Teléfono" [ngClass]="{'is-danger': item.controls.acompaniantes.controls[cont].controls.personas.controls.telefono.hasError('required')}"
                                    formControlName="telefono">
                                  <span class="help is-danger" *ngIf="item.controls.acompaniantes.controls[cont].controls.personas.controls.telefono.hasError('required')">Este campo es requerido.</span>
                                </p>
                              </div>
                              <div class="column is-6">
                                <p class="control is-expanded has-icon has-icon-right">
                                  <label class="label">Domicilio: </label>
                                  <input class="input" type="text" placeholder="Domicilio" [ngClass]="{'is-danger': item.controls.acompaniantes.controls[cont].controls.personas.controls.domicilio.hasError('required')}"
                                    formControlName="domicilio">
                                  <span class="help is-danger" *ngIf="item.controls.acompaniantes.controls[cont].controls.personas.controls.domicilio.hasError('required')">Este campo es requerido.</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>


                </nav>
              </div>
            </div>
          </div>

          <div [ngClass]="{ 'is-hidden': tab != 2}">
            <nav class="panel">
              <p class="panel-heading column is-12">
                Ingreso
              </p>
              <div class="box">
                <div formArrayName="movimientos_incidencias">
                  <div *ngFor="let movimiento of ctrl.dato.controls.movimientos_incidencias?.controls; let im=index" [formGroupName]="im">

                    <div class="columns" *ngIf='mostrar==true || !mostrar_check'>
                      <div class="column is-12">
                        <label class="label">Diagnósticos CIE-10 más Frecuentes: </label>
                        <div class="control is-grouped has-icons-left">

                          <span *ngIf="ctrl.cargando" class="tag is-primary is-large">Cargando Diagnósticos CIE-10...
                            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                          </span>

                          <div *ngIf="ctrl.top_cie10 && !ctrl.cargando" class="control is-expanded has-icon-left">

                            <span class="select is-multiple" [ngClass]="{'is-danger': movimiento.controls.top_cie10_id.value == ''}">
                              <select style="width: 100%; height:70%;" size="11" name="top_cie10_id" formControlName="top_cie10_id">
                                <option value="" selected>SELECCIONE UN DIAGNÓSTICO CIE-10:</option>
                                <option *ngFor="let val of ctrl.top_cie10" value="{{val.id}}">{{ val.nombre }}</option>
                              </select>
                            </span>

                            <span class="help is-danger" *ngIf="movimiento.controls.top_cie10_id.value == ''">
                              Debe seleccionar un Diagnóstico CIE-10 mas Frecuente ó Buscarlo y seleccionarlo en el campo de abajo.
                            </span>


                          </div>
                        </div>
                      </div>
                    </div>
<!--[ngClass]="{ 'is-hidden': movimiento.controls.top_cie10_id.value !=''}"-->
                    <div class="columns">
                      <div class="column is-12">

                        <div *ngIf="mostrar_check">
                          <input class="styled" type="checkbox" 
                            value="true" id="mostrar_cambiar_CIE10" (change)="checked_cambiar_cie10('mostrar_cambiar_CIE10')"> &nbsp;¿Desea cambiar el Diagnósticos CIE-10?
                        </div>

                        <div *ngIf='mostrar==true || !mostrar_check' class="control is-expanded  has-icon has-icon-right">
           
                          <label class="label">Diagnóstico CIE-10:</label>
                          <input  ngui-auto-complete
                          [source]="cie10_term"
                          autocomplete="false"
                          [accept-user-input]="true"
                          [list-formatter]="autocompleFormatoSubcategoriasCIE10"
                          [value-formatter]="valorFormato_SubcategoriasCIE10"
                          id="cie10" path-to-data=""
                          loading-text="Cargando..."
                          no-match-found-text="No hay resultados."
                          (valueChanged)="ctrl.select_item_autocomplete(ctrl.dato.controls.movimientos_incidencias.controls[im].controls.subcategorias_cie10_id, 'id', $event, true);"
                          min-chars="4" class="input" type="text" [ngClass]="{'is-success': movimiento.controls.subcategorias_cie10_id.value == ''}"
                          placeholder="Escriba como mínimo 4 letras para Buscar el Diagnostico CIE-10:">
                          
                          <span class="help is-success" *ngIf="movimiento.controls.subcategorias_cie10_id.value == ''">Campo opcional si no ha Selecciona un Diagnósticos CIE-10 más Frecuentes.</span>
                        </div>

                        <div *ngIf='mostrar==false && mostrar_check'>
                          <span class="input" type="text">
                            {{cie10_var_temp}}
                          </span>
                        </div>

                      </div>
                    </div>

                    <div class="columns">
                      <div class="column is-6">
                        <label class="label">Estado del Paciente: </label>
                        <div class="control is-grouped has-icons-left">

                          <span *ngIf="ctrl.cargando" class="tag is-primary is-large">Cargando el Estado del Paciente...
                            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                          </span>

                          <div *ngIf="ctrl.estados_pacientes && !ctrl.cargando" class="control is-expanded has-icon-left">

                            <span class="select" [ngClass]="{'is-danger': movimiento.controls.estados_pacientes_id.hasError('required')}">
                              <select class="select" name="estados_pacientes_id" formControlName="estados_pacientes_id">
                                <option value="">Seleccione el Estado del Paciente:</option>
                                <option *ngFor="let val of ctrl.estados_pacientes" value="{{val.id}}">{{ val.nombre }}</option>
                              </select>
                            </span>

                            <span class="icon is-small" *ngIf="!ctrl.cargando && movimiento.controls.estados_pacientes_id.hasError('required')">
                              <i class="fa fa-warning"></i>
                            </span>

                            <span class="help is-danger" *ngIf="movimiento.controls.estados_pacientes_id.hasError('required')">
                              Este campo es requerido.
                            </span>

                            <span class="icon is-small is-left" *ngIf="!ctrl.cargando && !movimiento.controls.estados_pacientes_id.hasError('required')">
                              <i class="fa fa-id-card-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="column is-6">
                        <label class="label">Triage: </label>
                        <div class="control is-grouped has-icons-left">

                          <span *ngIf="ctrl.cargando" class="tag is-primary is-large">Cargando los Códigos Triage...
                            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                          </span>

                          <div *ngIf="ctrl.triage_colores && !ctrl.cargando" class="control is-expanded has-icon-left">

                            <span class="select" [ngClass]="{'is-danger': movimiento.controls.triage_colores_id.hasError('required')}">
                              <select class="select" name="triage_colores_id" formControlName="triage_colores_id">
                                <option value="">Seleccione el Código Triage del Paciente:</option>
                                <option *ngFor="let val of ctrl.triage_colores" value="{{val.id}}">{{ val.nombre }}</option>
                              </select>
                            </span>

                            <span class="icon is-small" *ngIf="!ctrl.cargando && movimiento.controls.triage_colores_id.hasError('required')">
                              <i class="fa fa-warning"></i>
                            </span>

                            <span class="help is-danger" *ngIf="movimiento.controls.triage_colores_id.hasError('required')">
                              Este campo es requerido.
                            </span>

                            <span class="icon is-small is-left" *ngIf="!ctrl.cargando && !movimiento.controls.triage_colores_id.hasError('required')">
                              <i class="fa fa-id-card-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="columns">
                      <div class="column is-6">

                        <label class="label">Ubicación del Paciente: </label>
                        <div class="control is-grouped has-icons-left">

                          <span *ngIf="ctrl.cargando" class="tag is-primary is-large">Cargando Ubicación de Pacientes...
                            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                          </span>

                          <div *ngIf="ctrl.ubicaciones_pacientes && !ctrl.cargando" class="control is-expanded has-icon-left">
                            <span class="select" [ngClass]="{'is-danger': movimiento.controls.ubicaciones_pacientes_id.hasError('required')}">
                              <select class="select" name="ubicaciones_pacientes_id" formControlName="ubicaciones_pacientes_id">
                                <option value="">Seleccione la Ubicación del Paciente:</option>
                                <option *ngFor="let val of ctrl.ubicaciones_pacientes" value="{{val.id}}">{{ val.nombre }}</option>
                              </select>
                            </span>

                            <span class="icon is-small" *ngIf="!ctrl.cargando && movimiento.controls.ubicaciones_pacientes_id.hasError('required')">
                              <i class="fa fa-warning"></i>
                            </span>

                            <span class="help is-danger" *ngIf="movimiento.controls.ubicaciones_pacientes_id.hasError('required')">
                              Este campo es requerido.
                            </span>

                            <span class="icon is-small is-left" *ngIf="!ctrl.cargando && !movimiento.controls.ubicaciones_pacientes_id.hasError('required')">
                              <i class="fa fa-id-card-o"></i>
                            </span>
                          </div>
                        </div>

                      </div>

                      <div class="column is-6">
                        <label class="label">Turno: </label>
                        <div class="control is-grouped has-icons-left">

                          <span *ngIf="ctrl.cargando" class="tag is-primary is-large">Cargando Turnos...
                            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                          </span>

                          <div *ngIf="ctrl.turnos_varios && !ctrl.cargando" class="control is-expanded has-icon-left">
                            <span class="select" [ngClass]="{'is-danger': movimiento.controls.turnos_id.hasError('required')}">
                              <select class="select" name="turnos_id" formControlName="turnos_id">
                                <option value="">Seleccione el Turno de Ingreso del Paciente:</option>
                                <option *ngFor="let val of ctrl.turnos_varios" value="{{val.id}}">{{ val.nombre }}</option>
                              </select>
                            </span>

                            <span class="icon is-small" *ngIf="!ctrl.cargando && movimiento.controls.turnos_id.hasError('required')">
                              <i class="fa fa-warning"></i>
                            </span>

                            <span class="help is-danger" *ngIf="movimiento.controls.turnos_id.hasError('required')">
                              Este campo es requerido.
                            </span>

                            <span class="icon is-small is-left" *ngIf="!ctrl.cargando && !movimiento.controls.turnos_id.hasError('required')">
                              <i class="fa fa-id-card-o"></i>
                            </span>
                          </div>

                        </div>

                      </div>
                    </div>



                  </div>
                </div>

                <div class="columns">
                  <div class="column is-12">
                    <p class="control is-expanded has-icon has-icon-right">
                        <label class="label">Motivo del Ingreso:</label>

                        <ckeditor placeholder="Descripción" autofocus formControlName="motivo_ingreso" debounce="50"
                                  [config]="CkeditorConfig" [ngClass]="{'is-danger': ctrl.dato.get('motivo_ingreso').hasError('required')}">
                        </ckeditor>

                        <span class="icon is-small" *ngIf="ctrl.dato.get('motivo_ingreso').hasError('required')"><i class="fa fa-warning"></i></span>
                        <span class="help is-danger" *ngIf="ctrl.dato.get('motivo_ingreso').hasError('required')">Este campo es requerido.</span>
                    </p>
                  </div>
                </div>

                <div class="columns">
                  <div class="column is-12">
                      <p class="control is-expanded has-icon has-icon-right">
                          <label class="label">Impresión Diagnostica:</label>

                          <ckeditor placeholder="Descripción" autofocus formControlName="impresion_diagnostica" debounce="50"
                                    [config]="CkeditorConfig" [ngClass]="{'is-danger': ctrl.dato.get('impresion_diagnostica').hasError('required')}">
                          </ckeditor>

                          <span class="icon is-small" *ngIf="ctrl.dato.get('impresion_diagnostica').hasError('required')"><i class="fa fa-warning"></i></span>
                          <span class="help is-danger" *ngIf="ctrl.dato.get('impresion_diagnostica').hasError('required')">Este campo es requerido.</span>
                      </p>
                  </div>
                </div>
              </div>
            </nav>
          </div>

          <div [ngClass]="{ 'is-hidden': tab != 3}">
            <nav class="panel">
              <div class="panel-heading column is-12">

                <p>
                  Referencia
                  <label style="float:right" [ngClass]="{ 'is-hidden': this.mostrarPreguntaReferencia == 1}">¿El paciente tiene referencia?
                    <label class="radio">
                      <input type="radio" name="tieneReferencia"
                        [checked]="this.dato.controls.tieneReferencia.value == 1"
                        (click)="this.dato.controls.tieneReferencia.patchValue(1);
                        validar_referencia(); this.mostrar_clue=1; this.mostrar_check_clue=0">Si</label>
                    <label class="radio">
                      <input type="radio" name="tieneReferencia"
                        [checked]="this.dato.controls.tieneReferencia.value == 0"
                        (click)="this.dato.controls.tieneReferencia.patchValue(0);
                        validar_referencia(); this.mostrar_clue=0; this.mostrar_check_clue=1">No</label>
                  </label>
                </p>
              </div>
              <div class="box" [ngClass]="{ 'is-hidden': this.dato.controls.tieneReferencia.value == 0}">

                <div formArrayName="referencias">
                  <div *ngFor="let referencias of ctrl.dato.controls.referencias?.controls; let ref=index" [formGroupName]="ref">

                    <div class="columns" formGroupName="multimedias">
                      <div class="column is-6" formArrayName="img">
                        <label class="file-label">

                          <input class="file-input" multiple="multiple" name="multimedias"
                            (change)="seleccionarImagenBase64($event, ctrl.dato.controls.referencias.controls[ref].controls.multimedias.controls.img.controls, true)"
                            autofocus type="file" accept=".jpeg, .jpg, .gif, .bmp, .png">
                          <input type="hidden" placeholder="Imagen de la referencia">
                          <span class="file-cta">
                            <span class="file-icon">
                              <i class="fa fa-upload"></i>
                            </span>
                            <span class="file-label">
                              Subir Imagenes de la Referencia…
                            </span>
                          </span>

                        </label>
                        <div class="file is-primary" *ngFor="let image of ctrl.dato.controls.referencias.controls[ref].controls.multimedias.controls.img.controls; let ii=index">
                          
                          <div class="column is-6" *ngIf="image">
                              
                            <img [src]="url_img_referencia+image.value?.foto" alt="Imagen" width="100px" *ngIf="image.value?.es_url"/>                            
                            <img [src]="'data:image/jpg;base64,'+image.value?.foto" alt="Imagen" width="100px" *ngIf="!image.value?.es_url"/>                            
                          </div>

                          <div class="column is-6" *ngIf="image"> 
                            <div class="block">
                              <a class="button is-primary is-outlined" (click)="abrirModal('verFoto'+ref+''+ii)">
                                <span class="icon">
                                  <i class="fa fa-eye"> </i>
                                </span> &nbsp; Ver Imagen
                              </a>
                              <a id="borrarId{{ref}}{{ii}}" (click)="quitar_form_array(ctrl.dato.controls.referencias.controls[ref].controls.multimedias.controls.img.controls,ii);"></a>
                              
                              <a *ngIf="!image.value?.es_url || image.value?.foto ==''" (click)="quitar_form_array(ctrl.dato.controls.referencias.controls[ref].controls.multimedias.controls.img.controls,ii);">
                                  <span class="icon fa-2x has-text-danger">
                                      <i class="fa fa-trash"></i>
                                  </span>
                              </a>
                              
                              <a *ngIf="image.value?.es_url && image.value?.foto !=''" (click)="ctrl.borrarImagen($event, ctrl.dato.controls.referencias.controls[ref].controls.multimedias.controls.img.controls[ii].controls.foto, 'referencias', 'borrarId'+ref+''+ii);">
                                  <span class="icon fa-2x has-text-danger">
                                    <i class="fa fa-trash"></i>
                                  </span>
                              </a>

                            </div>
                            <div class="modal" id="verFoto{{ref}}{{ii}}" (click)="cancelarModal('verFoto'+ref+''+ii)">
                              <div class="modal-background"></div>
                              <div class="modal-content">
                                <p class="image is-4by3">
                                  <img [src]="url_img_referencia+image.value.foto" alt="Imagen" width="100px" *ngIf="image.value?.es_url"/>                            
                                  <img [src]="'data:image/jpg;base64,'+image.value?.foto" alt="Imagen" width="100px" *ngIf="!image.value?.es_url"/>  
                                </p>
                              </div>
                              <button type="button" class="modal-close" (click)="cancelarModal('verFoto'+ref+''+ii)"></button>
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>

                    <div class="columns">
                      <div class="column is-12">
                        <p class="control is-expanded  has-icon has-icon-right">
                          
                          <label class="label">Medico quien Refiere:</label>
                          <input id="medico" class="input" type="text" placeholder="Medico que reporta"
                          [ngClass]="{'is-danger': referencias.controls.medico_refiere_id.hasError('required')}"
                          formControlName="medico_refiere_id">
                          <span class="help is-danger" *ngIf="referencias.controls.medico_refiere_id.hasError('required')">Este campo es requerido.</span>

                        </p>
                  
                      </div>
                    </div>

                    <div class="columns">
                      <div class="column is-12">

                          <div *ngIf="mostrar_check_clue == 1">
                              <input class="styled" type="checkbox" 
                                value="true" id="mostrar_cambiar_clue_origen" (change)="checked_cambiar_clue_referencia('mostrar_cambiar_clue_origen')"> &nbsp;¿Desea cambiar la Unidad Médica de Donde Viene el Paciente?
                          </div>

                          <div *ngIf='mostrar_clue==1 || mostrar_check_clue ==0' class="control is-expanded  has-icon has-icon-right">
                            <label class="label">Unidad Medica de Origen (De donde viene el Paciente):</label>
                            <input ngui-auto-complete autocomplete="false" [accept-user-input]="false" [source]="clues_term" [list-formatter]="autocompleListFormatter" [value-formatter]="valorFormato_origen"
                              id="clues_origen" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados."
                              (valueChanged)="ctrl.select_item_autocomplete(ctrl.dato.controls.referencias.controls[ref].controls.clues_origen, 'clues', $event, true);"
                              min-chars="4" class="input" type="text" placeholder="Escriba como mínimo 4 letras para Buscar la Unidad Medica:"
                              [ngClass]="{'is-danger': referencias.controls.clues_origen.hasError('required')}">
                              <span class="help is-danger" *ngIf="referencias.controls.clues_origen.hasError('required')">Este campo es requerido.</span>
                          </div>

                          <div *ngIf='mostrar_clue==0 && mostrar_check_clue == 1'>
        
                              <span class="input" type="text">
                                {{clues_origen_temp}}
                              </span>
                          </div>

                      </div>


                    </div>

                    <div class="columns">
                      <div class="column is-12">
                        <div class="control is-grouped">
                          <p class="control is-expanded  has-icon has-icon-right">
                            <label class="label">Diagnóstico: </label>
                
                            <ckeditor autofocus formControlName="diagnostico" debounce="50"
                              [config]="CkeditorConfig">
                            </ckeditor>
                            <span class="help is-danger" *ngIf="referencias.controls.diagnostico.hasError('required')">Este campo es requerido.</span>

                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column is-12">
                        <div class="control is-grouped">
                          <p class="control is-expanded  has-icon has-icon-right">
                            <label class="label">Resumen Clínico: </label>

                            <ckeditor autofocus formControlName="resumen_clinico" debounce="50"
                              [config]="CkeditorConfig">
                            </ckeditor>
                            <span class="help is-danger" *ngIf="referencias.controls.resumen_clinico.hasError('required')">Este campo es requerido.</span>
  
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>


              </div>

            </nav>




          </div>

        </section>
      </form>
    </div>
  </div>
</div>
