<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<listar #ctrl URL="incidencias?en_transito=0?edo_incidencia={{edo_incidencia}}" titulo="Incidencias / Transacciones" ></listar>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>

<div class="contenedor columns " style="height:100%; ">
    <div class="column is-2 is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside ></sistema-menu-aside>
    </div>
    <div class="column" style="padding:0.5em;">
        <div style="background: #FFF; border-radius: 1em; ">
            
            <!-- Opciones y busqueda -->
            <section class="hero" [ngClass]=" {'is-dark': ctrl.busquedaActivada, 'is-primary': !ctrl.busquedaActivada } ">
                <div class="hero-body">
                    <nav class="level ">
                        <!-- Left side -->
                        <div class="level-left ">
                            <div class="level-item">
                                <p class="title">
                                    <span class="icon is-medium">
                                        <i class="{{icono}}"></i>
                                    </span> {{modulo_actual}}
                                </p>
                            </div>                
                        </div>
            
                        <!-- Right side -->
                        <div class="level-right ">
                            <div class="level-item">
                                <div class="field">
                                    <label>Buscar por Paciente:</label>
                                    <div class="control has-icons-left is-expanded">
                                        
                                        <input type="text" class="input is-flat is-medium" placeholder="Buscar" #searchBox id="search-box" (keyup)="ctrl.buscar(searchBox.value, 1)">
                                        <span class="icon is-medium is-left">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="level-item" *ngIf="ctrl.dato.estados_incidencias != ''">
                                <a (click)="ctrl.mostrarLista(1)" id="rebuscar"></a>
                                <div class="control is-expanded" *ngIf="ctrl.dato && !ctrl.cargando" >
                                    <div class="field">
                                        <label>Filtrar por Estado de Incidencia:</label>
                                        <div class="select is-medium" >
                                            <select class="select is-medium" [(ngModel)]="edo_incidencia" #searchBox id="search-box" (change)="cambiar_busqueda()">
                                                <option  value="">Todos</option>
                                                <option *ngFor="let val of ctrl.dato[ctrl.dato.length-1].estados_incidencias" value="{{val.id}}"  >{{ val.nombre }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <a class="navbar-item tooltip" (click)="ctrl.listar(1)" id="cargar_datos_actualizar" *ngIf="!ctrl.busquedaActivada">
                                <span class="icon fa-2x">
                                    <i class="fa fa-refresh"></i>
                                </span>
                                <span class="tooltiptext">Actualizar</span>
                            </a>
            
                            <a class="navbar-item tooltip" (click)="ctrl.listarBusqueda(searchBox.value,1)" id="cargar_datos_actualizar" *ngIf="ctrl.busquedaActivada">
                                <span class="icon fa-2x">
                                    <i class="fa fa-refresh"></i>
                                </span>
                                <span class="tooltiptext">Actualizar</span>
                            </a>
            
                            <a class="navbar-item tooltip" routerLink="{{url_nuevo}}" *ngIf="permisos.indexOf(controlador + '.store') > -1 || permisos.indexOf( 'Sis' + controlador + '.store') > -1">
                                <span class="icon fa-2x">
                                    <i class="fa fa-file"></i>
                                </span>
                                <span class="tooltiptext">Nuevo</span>
                            </a>

                            <a class="navbar-item tooltip" (click)="ctrl.excel(modulo_actual);">
                                <span class="icon fa-2x">
                                    <i class="fa fa-file-excel-o"></i>
                                </span>
                                <span class="tooltiptext">Exportar Excel</span>
                            </a>
            
                            <a class="navbar-item tooltip" (click)="ctrl.imprimir(null, '', modulo_actual);">
                                <span class="icon fa-2x">
                                    <i class="fa fa-print"></i>
                                </span>
                                <span class="tooltiptext">Imprimir</span>
                            </a>

                            <a class="navbar-item  tooltip" (click)="ctrl.cambiar_vista();">
                                <span class="icon fa-2x">
                                    <i class="fa fa-table" *ngIf="!ctrl.tipo_grid"></i>
                                    <i class="fa fa-list" *ngIf="ctrl.tipo_grid"></i>
                                </span>
                                <span class="tooltiptext" *ngIf="!ctrl.tipo_grid">Cambiar a tabla</span>
                                <span class="tooltiptext" *ngIf="ctrl.tipo_grid">Cambiar a lista</span>
                            </a>
            
            
                            <a class="navbar-item  is-dark tooltip" *ngIf="ctrl.busquedaActivada" (click)="ctrl.cerrar_busqueda(searchBox)">
                                <span class="icon fa-2x">
                                    <i class="fa fa-close"></i>
                                </span>
                                <span class="tooltiptext">Cerrar Busqueda</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </section>
                
                <div class="is-fullwidth has-text-centered" *ngIf="ctrl.cargando">
                    <br>
                    <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span> &nbsp;<span>Cargando...</span></span>
                    <br>
                    <br>
                </div>


            <span id="exportar_datos" style="overflow-y:auto; overflow-x: hidden; display:block;" [style.maxHeight.px]="tamano-285">

                <!--Tabla -->
                <table class="table is-striped is-fullwidth" *ngIf="ctrl.tipo_grid && !ctrl.cargando " style="overflow:auto;">
                        <thead>
                            <tr>
                                <th>N° Folio</th>
                                <th>Paciente</th>
                                <th>Edad</th>
                                <th>Fecha de Ingreso</th>
                                <th>Triage</th>
                                <th>Estado de Incidencia</th>
                                <th>Antiguedad</th>
                                <th width="1%" class="no_pdf">Seguimientos</th>
                                <th width="1%" class="no_pdf">Opciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of ctrl.dato; let i=index">
                                <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;">{{ item.id }}</td>
                                <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;"><div *ngFor="let val of item.pacientes">{{ val.personas.nombre }} {{ val.personas.paterno }} {{ val.personas.materno }}</div></td>
                                <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;"><div class="is-medium" *ngFor="let edades of item.pacientes">{{ edades.personas.edad }} Años</div></td>
                                <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;">{{ item.created_at | date: ' dd/MM/yyyy, h:mm a ' }}</td>
                                <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;"><div class="tag is-medium" [ngClass]="{'is-success' : item.movimientos_incidencias[0].triage_colores.nombre == 'Verde', 'is-warning' : item.movimientos_incidencias[0].triage_colores.nombre == 'Amarillo', 'is-danger' : item.movimientos_incidencias[0].triage_colores.nombre == 'Rojo'}">{{ item.movimientos_incidencias[0].triage_colores.nombre }}</div></td>
                                <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;"><div>{{ item.estados_incidencias.nombre }}</div></td>
                                <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;">{{ item.antiguedad }}</td>
                                <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;"  class="has-text-centered no_pdf">

                                    <div align="center">
                                        <a class="navbar-item tooltip" routerLink="/transacciones/seguimiento/editar/{{item.id}}">
                                            <span class="icon fa-2x has-text-info">
                                                <i class="fa fa-exchange"></i>
                                            </span>
                                            <span class="tooltiptext">Seguimientos, Referencias y Alta</span>
                                        </a>
                                    </div>

                                </td>

                                <td *ngIf="(i+1)<ctrl.dato.length"  style="vertical-align: middle;" class="has-text-centered no_pdf">
                                    <!-- acciones -->
                                    <tabla-acciones [item]="item" [index]="i" [ctrl]="ctrl" class="level-left"></tabla-acciones>
                                </td>

                            </tr>
                            <tr *ngIf="ctrl.dato.length == 0">
                                <td colspan="5" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                            </tr>
                        </tbody>

                    </table>

                    <!--Lista -->
                <span *ngIf="!ctrl.tipo_grid && !ctrl.cargando">
                    <div class="box" *ngFor="let item of ctrl.dato; let i=index" style="margin-bottom:0.1rem;" [style.background]="i%2 == 0 ? '#fafafa' : '#ffffff'">
                        <article *ngIf="(i+1)<ctrl.dato.length" class="media">

                            <div *ngIf="(i+1)<ctrl.dato.length" class="media-left is-medium">
                                <figure class="image is-64x64">
                                    <img src="../assets/iconos/persona.jpg">
                                </figure>
                            </div>
                            <div *ngIf="(i+1)<ctrl.dato.length" class="media-content" >
                                <div class="content">
                                    <p *ngIf="(i+1)<ctrl.dato.length">

                                        <a *ngIf="(i+1)<ctrl.dato.length" title="Paciente">
                                            <div *ngFor="let val of item.pacientes" class="is-medium fa-2x">
                                                <strong>{{ val.personas.nombre }} {{ val.personas.paterno }} {{ val.personas.materno }}</strong>
                                            </div>
                                        </a>
                                        <a *ngIf="(i+1)<ctrl.dato.length"  title="N° Folio">
                                                <strong>{{item.id}}</strong>
                                        </a>
                                        <br>
                                        <a *ngIf="(i+1)<ctrl.dato.length"  title="Antigüedad">
                                            <small>
                                                <i class="fa fa-sign-in"></i>
                                                <strong>{{ item.created_at | date: ' dd/MM/yyyy, h:mm a ' }}</strong>
                                            </small>
                                        </a>
                                        <br>
                                        <a *ngIf="(i+1)<ctrl.dato.length"  title="Antigüedad">
                                            <small>
                                                <i class="fa fa-clock-o"></i>
                                                <strong>{{ item.antiguedad }}</strong>
                                            </small>
                                        </a>
                                        <br>
                                        <a *ngIf="(i+1)<ctrl.dato.length" title="Edad">
                                            <div *ngFor="let edades of item.pacientes">
                                                <strong>{{ edades.personas.edad }} Años</strong>
                                            </div>
                                        </a>
                                        <a *ngIf="(i+1)<ctrl.dato.length" class="tag is-medium fa-2x" [ngClass]="{'is-success' : item.movimientos_incidencias[0].triage_colores.nombre == 'Verde', 'is-warning' : item.movimientos_incidencias[0].triage_colores.nombre == 'Amarillo', 'is-danger' : item.movimientos_incidencias[0].triage_colores.nombre == 'Rojo'}" title="Triage">
                                        
                                            <strong>{{ item.movimientos_incidencias[0].triage_colores.nombre }}</strong>

                                        </a>
                                    </p>
                                </div>
                            </div>
                                <nav *ngIf="(i+1)<ctrl.dato.length" class="level" style="float:right">

                                <div *ngIf="(i+1)<ctrl.dato.length" class="level-right no_pdf" >

                                    <!-- <a class="navbar-item tooltip" (click)="generate($event, item.id);">
                                            <span class="icon fa-2x  has-text-danger ">
                                                <i class="fa fa-file-pdf-o"></i>
                                            </span>
                                            <span class="tooltiptext">PDF</span>
                                    </a> -->

                                    <a class="navbar-item tooltip" routerLink="/transacciones/seguimiento/editar/{{item.id}}">
                                        <span class="icon fa-2x has-text-info">
                                                <i class="fa fa-exchange"></i>
                                        </span>
                                        <span class="tooltiptext">Seguimiento, Referencias y Alta</span>
                                    </a>
                                    
                                    <tabla-acciones [item]="item" [index]="i" [ctrl]="ctrl" class="level-right"></tabla-acciones>

                                </div>

                                </nav>           
                        </article>
                    </div>
                </span>


                <!--Lista -->
   
            </span>
            <!-- Paginación para la lista  -->
            <paginacion [ctrl]="ctrl"></paginacion>

        </div>
    </div>
</div>

<table id="datosPaciente" class="table is-striped is-fullwidth" *ngIf="!ctrl.cargando">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Teléfono</th>
            <th>Fecha de Nacimiento</th>
            <th>Municipio</th>
            <th>Localidad</th>
            <th>Estado de Embarazo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paciente of datosSeguimiento.pacientes; let i=index">
            <td style="vertical-align: middle;">{{paciente.personas.nombre}} {{paciente.personas.paterno}} {{paciente.personas.materno}}</td>
            <td style="vertical-align: middle;">{{paciente.personas.edad}} Años</td>
            <td style="vertical-align: middle;">{{paciente.personas.telefono}}</td>
            <td style="vertical-align: middle;">{{paciente.personas.fecha_nacimiento | date: ' dd/MM/yyyy '}}</td>
            <td style="vertical-align: middle;">{{paciente.personas.municipios.nombre}}</td>
            <td style="vertical-align: middle;">{{paciente.personas.localidades.nombre}}</td>
            <td style="vertical-align: middle;">{{paciente.personas.estados_embarazos.nombre}}</td>
        </tr>
            <tr *ngIf="datosSeguimiento.length == 0">
            <td colspan="5" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
            </tr> 
    </tbody>
</table>

<table id="datosSeguimiento" class="table is-striped is-fullwidth" *ngIf="!ctrl.cargando">
    <thead>
        <tr>
            <th>N°.</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Triage</th>
            <th>CIE-10</th>
            <th>Ubicación</th>
            <th>Turno</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let val of datosSeguimiento.movimientos_incidencias; let i=index">
            <td style="vertical-align: middle;">{{i + 1}}</td>
            <td style="vertical-align: middle;">{{val.estados_pacientes.nombre}}</td>
            <td style="vertical-align: middle;">{{val.created_at | date: ' dd/MM/yyyy h:mm:ss a '}}</td>
            <td style="vertical-align: middle;">{{val.triage_colores.nombre}}</td>
            <td style="vertical-align: middle;">{{val.subcategorias_cie10.nombre}}</td>
            <td style="vertical-align: middle;">{{val.ubicaciones_pacientes.nombre}}</td>
            <td style="vertical-align: middle;">{{val.turnos.nombre}}</td>
        </tr>
         <tr *ngIf="datosSeguimiento.movimientos_incidencias == ''">
            <td colspan="5" style="vertical-align: middle; color:#888;">La Paciente no tiene Seguimientos.</td>
         </tr> 
    </tbody>
</table>


<table id="datosReferencias" class="table is-striped is-fullwidth" *ngIf="!ctrl.cargando">
    <thead>
        <tr>
            <th>N°</th>
            <th>Fecha</th>
            <th>Unidad de Origen</th>
            <th>Unidad de Destino</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let val of datosSeguimiento.referencias; let i=index">
            <td style="vertical-align: middle;">{{i + 1}}</td>
            <td style="vertical-align: middle;">{{val.created_at | date: ' dd/MM/yyyy h:mm:ss a '}}</td>
            <td style="vertical-align: middle;">{{val.clues_origen}} - {{val.clues_origen_o.nombre}}</td>
            <td style="vertical-align: middle;">{{val.clues_destino}} - {{val.clues_destino_o.nombre}}</td>

        </tr>
         <tr *ngIf="datosSeguimiento.referencias == ''">
            <td colspan="5" style="vertical-align: middle; color:#888;">La Pciente no tiene Referencias.</td>
         </tr> 
    </tbody>
</table>

<table id="datosAlta" class="table is-striped is-fullwidth" *ngIf="!ctrl.cargando">
    <thead>
        <tr>
            <th>N°</th>
            <th>Fecha y Hora</th>
            <th>Unidad Medica de Atención</th>
            <th>Tipo de Alta</th>
            <th>Turno</th>
            <th>Metodo de Planificación</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let val of datosSeguimiento.altas_incidencias; let i=index">
            <td style="vertical-align: middle;">{{i + 1}}</td>
            <td style="vertical-align: middle;">{{val.created_at | date: ' dd/MM/yyyy h:mm:ss a '}}</td>
            <td style="vertical-align: middle;">{{val.clues_regresa}} - {{val.clues_regresa_o.nombre}}</td>            
            <td style="vertical-align: middle;">{{val.tipos_altas.nombre}}</td>
            <td style="vertical-align: middle;">{{val.turnos.nombre}}</td>
            <td style="vertical-align: middle;">{{val.metodos_planificacion.nombre}}</td>
            

        </tr>
            <tr *ngIf="datosSeguimiento.altas_incidencias == ''">
            <td colspan="5" style="vertical-align: middle; color:#888;">La Paciente aún no está dada de Alta.</td>
            </tr> 
    </tbody>
</table>




<!-- <div id="imprimir" style="display:none">
        
        <a *ngIf="ctrl.json">
            <span style="color:blue;" [innerHTML]='ctrl.json.motivo_ingreso | formatoHtml'></span>
        </a>
</div> -->


        
<div id="imprimir" style="display:none">
    <div *ngIf="ctrl.json" style="width: 100%;">
        <img src="../assets/iconos/salud.png">
        <div style="text-align: center;">
            <h1 style="font-size:30px;">Historial del Paciente</h1>
        </div>
        <br>

        <div class="box">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="../assets/iconos/persona.jpg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-size-3">
                      {{ ctrl.json.pacientes[0].personas.nombre }} {{ ctrl.json.pacientes[0].personas.paterno }} {{ ctrl.json.pacientes[0].personas.materno }} 
                  </p>
                  &nbsp;
                  <p class="subtitle is-size-6"><strong>Curp:</strong>&nbsp;{{ ctrl.json.pacientes[0].personas.id }}</p>
                  &nbsp;
                  <div class="columns">
                        <div class="column is-5">
                            <div class="subtitle is-size-6">
                                <p class="subtitle is-size-6"><strong>Fecha de Nacimiento:</strong>{{ ctrl.json.pacientes[0].personas.fecha_nacimiento | date: ' dd/MM/yyyy ' }}</p>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="subtitle is-size-6">
                                <p class="subtitle is-size-6"><strong>Edad:</strong>&nbsp;{{ ctrl.json.pacientes[0].personas.edad  }} Años</p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="subtitle is-size-6">
                                <p class="subtitle is-size-6"><strong>Télefono:</strong> {{ ctrl.json.pacientes[0].personas.telefono }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="colum is-12">
                            <p class="subtitle is-size-6"><strong>Domicilio:</strong> {{ ctrl.json.pacientes[0].personas.domicilio }}</p>
                        </div>
                    </div>
                    <br>
                    <div class="columns">
                        <div class="colum is-6">
                            <p class="subtitle is-size-6"><strong>Municipio:</strong> {{ ctrl.json.pacientes[0].personas.domicilio }}</p>
                        </div>
                        &nbsp;
                        <div class="colum is-6">
                            <p class="subtitle is-size-6"><strong>Localidad:</strong> {{ ctrl.json.pacientes[0].personas.localidades.nombre }}</p>
                        </div>
                    </div>
                </div>


              </div>

            </div>
          </div>
          
          <div class="box">
            <div class="card-content">
                <div class="media-content">
                    <p class="subtitle is-size-6">Motivo del Ingreso:</p>
                    <p [innerHTML]='ctrl.json.motivo_ingreso | formatoHtml'></p>
                </div>
            </div>
          </div>

         <div class="box">
            <div class="card-content">
                <div class="media-content">
                    <p class="subtitle is-size-6">Impresión Diagnostica:</p>
                    <p [innerHTML]='ctrl.json.impresion_diagnostica | formatoHtml'></p>
                </div>
            </div>
         </div>
        
         <br><br><br><br>
        <div *ngIf="ctrl.json.movimientos_incidencias.length > 0">
            <p class="title is-size-3">Seguimientos</p>
            <!--Table-->
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Fecha</th>
                        <th>Estado de Paciente</th>
                        <th>Triage</th>
                        <th  colspan="4">Diagnóstico CIE-10</th>
                        <th>Turno</th>

                    </tr>
                </thead>

                <tbody *ngFor="let seg of ctrl.json.movimientos_incidencias; let s=index">
                    <tr>
                        <td>{{ s+1 }}</td>
                        <td>{{ seg.created_at | date: ' dd/MM/yyyy ' }}</td>
                        <td>{{ seg.estados_pacientes.nombre }}</td>
                        <td><div class="tag is-medium" [ngClass]="{'is-success' : seg.triage_colores.nombre == 'Verde', 'is-warning' : seg.triage_colores.nombre == 'Amarillo', 'is-danger' : seg.triage_colores.nombre == 'Rojo'}"><strong>{{ seg.triage_colores.nombre }}</strong></div></td>
                        <td colspan="4">{{ seg.subcategorias_cie10.nombre}}</td>
                        <td>{{ seg.turnos.nombre}}</td>
                    </tr>
                    <tr *ngIf="ctrl.json.movimientos_incidencias.length == 0">
                        <td colspan="5" style="vertical-align: middle; color:#888;">No tiene Seguimientos asignados el paciente.</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <br>
        <div *ngIf="ctrl.json.referencias.length > 0">
            <p class="title is-size-3">Referencias</p>
            <div *ngFor="let ref of ctrl.json.referencias; let r=index">
                <div class="card-content">
                    <div class="media-content" >
                        <div class="columns">
                            <div class="column is-6">
                                    <p class="subtitle is-size-6">
                                        <strong>N° de Referencia:</strong> {{ r+1 }}
                                    </p>
                            </div>

                            <div class="column is-6">
                                    <p class="subtitle is-size-6">
                                        <strong>Tipo:</strong>
                                        <a *ngIf="ref.esIngreso == 0">
                                                Se encuentra en Referencia
                                        </a>
                    
                                        <a *ngIf="ref.esIngreso == 1">
                                                Es una referencia de Ingreso
                                        </a>
                                    </p>
                            </div>
                        </div>
                        <br>
                        <div class="columns">
                            <div class="column is-12">
                                <p class="subtitle is-size-6">
                                    <strong>Medico que Refiere:</strong>&nbsp;{{ref.medico_refiere_id}}
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="columns">
                            <div class="column is-6">
                                <p class="subtitle is-size-6">
                                    <strong>Unidad Medica de Origen:</strong> ({{ref.clues_origen_o.clues}}) - {{ ref.clues_origen_o.nombre }}
                                </p>
                            </div>

                            <div class="column is-6">
                                <p class="subtitle is-size-6">
                                    <strong>Unidad Medica de Destino:</strong> ({{ref.clues_destino_o.clues}}) - {{ ref.clues_destino_o.nombre }}
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="columns">
                            <div class="column is-6">
                                <div class="subtitle is-size-6">
                                    <p class="subtitle is-size-5"><strong>Diagnóstico:</strong></p>
                                    <i [innerHTML]='ref.diagnostico | formatoHtml'></i>
                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="subtitle is-size-6">
                                    <p class="subtitle is-size-5"><strong>Resumen Clínico:</strong></p>
                                    <i [innerHTML]='ref.resumen_clinico | formatoHtml'></i>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                    <p class="subtitle is-size-5"><strong>Imagenes de la Referencia:</strong></p>
                    <div *ngFor="let mult of ref.multimedias; let m=index">
                        <div *ngIf="mult.length == 0">
                            <blockquote>
                                <h1 style="vertical-align: middle; color:#888; text-align: center;">No tiene imágenes cargadas</h1>
                            </blockquote>
                        </div>
                        <img [src]="url_img_referencias+mult.url" alt="" />
                    </div>


                </div>
            </div>
        </div>
        <br>
        <div *ngIf="ctrl.json.altas_incidencias.length > 0">
            <p class="title is-size-3">Alta del Paciente</p>
            <div *ngFor="let alta of ctrl.json.altas_incidencias; let a=index">
                <div class="card-content">
                    <div class="media-content" >
                        <div class="columns">
                            <div class="column is-4">
                                <p class="subtitle is-size-6">
                                    <strong>N° Folio de la Incidencia:</strong> {{ alta.incidencias_id }}
                                </p>
                            </div>

                            <div class="column is-4">
                                <p class="subtitle is-size-6">
                                    <strong>Tipo de Alta:</strong>
                                    <a>{{alta.tipos_altas.nombre}}</a>
                                </p>
                            </div>
                            <div class="column is-4">
                                <p class="subtitle is-size-6">
                                    <strong>Turno del Alta:</strong>
                                    <a>{{alta.turnos.nombre}}</a>
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="columns">
                            <div class="column is-12">
                                <p class="subtitle is-size-6">
                                    <strong>Medico que Contra-refiere (Autoriza el Alta):</strong>&nbsp;{{alta.medico_reporta_id}}
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="columns">
                            <div class="column is-6">
                                <p class="subtitle is-size-6">
                                    <strong>Unidad Medica que Contra-refiere:</strong> ({{alta.clues_contrarefiere_o.clues}}) - {{ alta.clues_contrarefiere_o.nombre }}
                                </p>
                            </div>

                            <div class="column is-6">
                                <p class="subtitle is-size-6">
                                    <strong>Unidad Medica a donde Regresa:</strong> ({{alta.clues_regresa_o.clues}}) - {{ alta.clues_regresa_o.nombre }}
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="columns">
                            <div class="column is-6">
                                <div class="subtitle is-size-6">
                                    <p class="subtitle is-size-5"><strong>Diagnóstico de Egreso:</strong></p>
                                    <i [innerHTML]='alta.diagnostico_egreso | formatoHtml'></i>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="subtitle is-size-6">
                                    <p class="subtitle is-size-5"><strong>Resumen Clinico:</strong></p>
                                    <i [innerHTML]='alta.resumen_clinico | formatoHtml'></i>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="columns">
                            <div class="column is-6">
                                    <div class="subtitle is-size-6">
                                        <p class="subtitle is-size-5"><strong>Observación de Trabajo Social:</strong></p>
                                        <i [innerHTML]='alta.observacion_trabajo_social | formatoHtml'></i>
                                    </div>
                            </div>
                            <div class="column is-6">
                                <div class="subtitle is-size-6">
                                    <p class="subtitle is-size-5"><strong>Instrucciones y Recomendaciones:</strong></p>
                                    <i [innerHTML]='alta.instrucciones_recomendaciones | formatoHtml'></i>
                                </div>
                            </div>
                        </div>
                        <br>

                    </div>
                    <br>
                    <p class="subtitle is-size-5"><strong>Imagenes del Alta:</strong></p>
                    <div *ngFor="let mult of alta.multimedias; let m=index">
                        <div *ngIf="mult.length == 0">
                            <blockquote>
                                <h1 style="vertical-align: middle; color:#888; text-align: center;">No tiene imágenes cargadas</h1>
                            </blockquote>
                        </div>
                        <img [src]="url_img_altas+mult.url" alt="" />
                        <br>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>




<!-- <div class="modal" id="confirmarPDF">
        *ngFor="let item of ctrl.json.pacientes; let i=index"
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
            <p class="modal-card-title"><i class="fa fa-warning"></i> Alerta</p>
            <button class="delete" (click)="cancelarModal('confirmarPDF')"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <h1>¿Desea generar el Archivo PDF?</h1>
                    <p>Se guardara el archivo PDF en su Computadora</p>
                </div>
            </section>
            <footer class="modal-card-foot">
            <a class="button is-success" (click)="download($event, item.id)" >Continuar</a>
            <a class="button" (click)="cancelarModal('confirmarPDF')">Cancelar</a>
            </footer>
        </div>
</div> -->