<sistema-menu></sistema-menu>

<section style="padding: 1em;">
   
    <section class="contenedor columns is-multiline is-mobile" *ngFor="let val of menu"></section>

</section>

<span id="cargar_datos_actualizar" style="overflow-y:auto; overflow-x: hidden; display:block;" [style.maxHeight.px]="tamano-80">

        <div class="columns">
            <div class="column is-1"></div>
            <div class="column is-5">
                <app-total-ingresos></app-total-ingresos>
            </div>
            <div class="column is-5">
                <app-total-altas></app-total-altas> 
            </div>
        </div>

        <div class="columns">
            <div class="column is-1"></div>
            <div class="column is-5">
                <app-clasificacion-ingresos></app-clasificacion-ingresos>
            </div>
            <div class="column is-5">
                <app-diagnosticos-cie10></app-diagnosticos-cie10>
            </div>
        </div>
        <div class="columns">
            <div class="column is-1"></div>
            <div class="column is-10">
                <app-clasificacion-edad></app-clasificacion-edad>
            </div>
        </div>

</span>


<app-hub #hub></app-hub>
<app-perfil #perfil></app-perfil>