<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<formulario #ctrl URL="incidencias" titulo="Seguimiento / Módulo" [dato]="dato"></formulario>


<!-- Menu principal "-->
<sistema-menu></sistema-menu>


<div class="contenedor columns " style="height:100%; ">
  <!--DATOS DEL PACIENTE-->
  <div class="column is-3">

    <div>
      <div style="padding:1em;">
        <div class="card" style="border-radius:3%" *ngIf="ctrl.dato">
          <div class="card-content" *ngFor="let item of ctrl.dato.get('pacientes').value; let i=index">
            <div class="media">

              <div class="media-left" *ngIf="item.personas.sexo == 'F'"> 
                <figure class="image is-48x48" >
                  <img src="./assets/iconos/icono-femenino.svg" alt="Femenino">
                </figure>
              </div>

              <div class="media-left" *ngIf="item.personas.sexo == 'M'"> 
                  <figure class="image is-48x48" >
                      <img src="./assets/iconos/icono-masculino.svg" alt="Masculino">
                  </figure>
              </div>

              <div class="media-content">
                <p class="title is-6">
                  {{item.personas.nombre}} {{item.personas.paterno}} {{item.personas.materno}}
                </p>
                <p class="subtitle is-7" *ngIf="item.personas.sexo == 'F'">
                  <strong>Sexo: </strong> Femenino
                </p>
                <p class="subtitle is-7" *ngIf="item.personas.sexo == 'M'">
                  <strong>Sexo: </strong> Masculino
                </p>
              
                <p class="subtitle is-7">
                  <strong>CURP: </strong> {{item.personas.id}}
                </p>

              </div>
            </div>
            <div align="left">
              <p class="content">
                <strong>Fecha de Nacimiento: </strong> {{item.personas.fecha_nacimiento | date: 'dd/MM/yyyy'}}
                <br>
                <strong>Telefono: </strong> {{item.personas.telefono}}
                <br>
                <strong>Domicilio: </strong> {{item.personas.domicilio}}
              </p>
              <p class="content">
                <strong>Municipio: </strong> {{item.personas.municipios.nombre}}
                <br>
                <strong>Localidad: </strong> {{item.personas.localidades.nombre}}
              </p>
            </div>
          </div>
        </div>
        <br>
        <div *ngIf="ctrl.dato.get('pacientes').value.length">
          <div class="card" style="border-radius:3%" *ngFor="let val of ctrl.dato.get('pacientes').value[0].acompaniantes; let i=index">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="./assets/iconos/icono-acompaniante-paciente.svg" alt="Image">
                  </figure>
                </div>
    
                <div class="media-content">
                  <div class="title is-6">
                    <div *ngIf="val.esResponsable == 1">
                      <strong>Responsable: </strong> {{val.personas.nombre}} {{val.personas.paterno}} {{val.personas.materno}}
                    </div>
                    <div *ngIf="val.esResponsable == 0">
                      <strong>Acompañante: </strong> {{val.personas.nombre}} {{val.personas.paterno}} {{val.personas.materno}}
                    </div>
                  </div>
    
                </div>
              </div>
              <div class="card-content">
                <p class="content">
                  <strong>Telefono: </strong> {{val.personas.telefono}}
                  <br>
                  <strong>Domicilio: </strong> {{val.personas.domicilio}}
                </p>
    
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>

  </div>
  <div class="column" style="padding:1em;">
    <div style="background: #FFF; border-radius: 1em; ">

      <!-- formulario -->
      <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()">
        <section class="hero is-primary">
          <div class="hero-body">

            <!-- Opciones  -->
            <formulario-opciones [ctrl]="ctrl" [id]="ctrl.dato.id"></formulario-opciones>



          </div>


        </section>
        <!--cargarCatalogo('metodos_planificacion?alta=1','metodos-planificacion');-->
        <section  class="section" style="padding: 2rem 2rem !important; overflow:auto;" [style.maxHeight.px]="tamano-175">

          <div class="tabs is-toggle is-fullwidth">
            <ul>
              <li [ngClass]="{ 'is-active' : tab == 1}">
                <a (click)="tab=1">
                  <span class="icon is-small">
                    <i class="fa fa-list-ol"></i>
                  </span>
                  <span>Seguimientos</span>
                </a>
              </li>
              <li [ngClass]="{ 'is-active' : tab == 2}">
                <a (click)="tab=2">
                  <span class="icon is-small">
                    <i class="fa fa-ambulance"></i>
                  </span>
                  <span>Referencias</span>
                </a>
              </li>

              <li [ngClass]="{ 'is-active' : tab == 3}">
                <a (click)="tab=3">
                  <span class="icon is-small">
                    <i class="fa fa-heart"></i>
                  </span>
                  <span>Alta</span>
                </a>
              </li>
            </ul>
          </div>

          <div [ngClass]="{ 'is-hidden': tab != 1}">

                <div *ngIf="ctrl.dato">              
                    <a [ngClass]="{ 'is-hidden' : clues_origen_login.clues != ctrl.dato.controls.clues_actual.value || ctrl.dato.get('altas_incidencias').length > 0}" class="button is-success" (click)="nuevo_seguimiento()">
                        <span class="icon">
                          <i class="fa fa-plus"></i>
                        </span>&nbsp; Agregar Nuevo Seguimiento
                    </a>
                </div>


            <table class="table is-striped is-fullwidth" *ngIf="!ctrl.cargando">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Estado del Paciente</th>
                  <th>Turno</th>
                  <th>Antiguedad</th>
                  <th>Triage</th>
                  <th>Ubicación del Paciente</th>
                  <th>Detalle</th>
                </tr>
              </thead>
              <tbody *ngIf="ctrl.dato">
                <tr *ngFor="let item of ctrl.dato.controls.movimientos_incidencias.controls; let i=index">
                  
                  <th style="vertical-align: middle;">
                    {{ i+1 }}
                  </th>
                  <td style="vertical-align: middle;">
                    {{ item.value.estados_pacientes.nombre }}
                  </td>
                  <td style="vertical-align: middle;">
                    {{ item.value.turnos.nombre }}
                  </td>
                  <td style="vertical-align: middle;">
                    {{ item.value.antiguedad }}
                  </td>
                  <td style="vertical-align: middle;">
                      <div class="tag is-medium" [ngClass]="{'is-success' : item.value.triage_colores.nombre == 'Verde', 'is-warning' : item.value.triage_colores.nombre == 'Amarillo', 'is-danger' : item.value.triage_colores.nombre == 'Rojo'}"><strong>{{ item.value.triage_colores.nombre }}</strong></div>
                  </td>
                  <td style="vertical-align: middle;">
                    {{ item.value.ubicaciones_pacientes.nombre }}
                  </td>
                  <td style="vertical-align: middle;">
                    
                    <a *ngIf="item.value.nuevo" title="Quitar Seguimiento" class="button is-danger tooltip" (click)="ctrl.quitar_form_array(ctrl.dato.controls.movimientos_incidencias, i);">
                        <i class="fa fa-trash-o"></i>
                    </a>

                    <a *ngIf="!item.value.nuevo" title="Detalle del Seguimiento" class="button is-info tooltip" (click)="detalle_seguimiento(item.value)">
                        <i class="fa fa-file-text-o"></i>
                    </a>

                  </td>

                </tr>
                <tr *ngIf="ctrl.dato.get('movimientos_incidencias').length == 0">
                  <td colspan="5" style="vertical-align: middle; color:#888;">El paciente no tiene seguimientos.</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div [ngClass]="{ 'is-hidden': tab != 2}">

            <div *ngIf="ctrl.dato">

              <a [ngClass]="{ 'is-hidden' : clues_origen_login.clues != ctrl.dato.controls.clues_actual.value || ctrl.dato.get('altas_incidencias').length > 0}" class="button is-success" (click)="nueva_referencia(); cargarMapa();">
                <span class="icon">
                  <i class="fa fa-plus"></i>
                </span>&nbsp; Agregar Nueva Referencia
              </a>

            </div>

            <table class="table is-striped is-fullwidth" *ngIf="!ctrl.cargando">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Medico que refiere</th>
                  <th>Diagnostico</th>
                  <th>Resumen Clinico</th>
                  <th>Unidad Medica de Origen</th>
                  <th>Unidad Medica de Destino</th>
                  <th>Detalle</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody *ngIf="ctrl.dato">
                <tr *ngFor="let item of ctrl.dato.controls.referencias.controls; let i=index">
                  <th style="vertical-align: middle;">
                    <a>{{ i+1 }}</a>
                  </th>
                  <td style="vertical-align: middle;">
                    <a>{{ item.value.medico_refiere_id }}</a>
                  </td>
                  <td style="vertical-align: middle;">
                    <a [innerHTML]='item.value.diagnostico | formatoHtml'></a>
                  </td>
                  <td style="vertical-align: middle;">
                    <a [innerHTML]='item.value.resumen_clinico | formatoHtml'></a>
                  </td>
                  <td style="vertical-align: middle;">
                    <a *ngIf="item.value.nuevo">
                      ({{item.value.clues_origen}}) - {{item.value.clues_origen_o}}
                    </a>
                    <a *ngIf="!item.value.nuevo">
                      ({{item.value.clues_origen}}) - {{item.value.clues_origen_o.nombre}}
                    </a>
                  </td>
                  <td style="vertical-align: middle;">
                    <a *ngIf="item.value.nuevo">
                      ({{item.value.clues_destino}}) - {{item.value.clues_destino_o}}
                    </a>
                    <a *ngIf="!item.value.nuevo">
                      ({{item.value.clues_destino}}) - {{item.value.clues_destino_o.nombre}}
                    </a>
                  </td>
                  <td>
                    
                    <a *ngIf="item.value.esQuitar == true" title="Quitar Referencia" class="button is-danger tooltip" (click)="ctrl.quitar_form_array(ctrl.dato.controls.referencias, i);">
                        <i class="fa fa-trash-o"></i>
                    </a>

                    <a *ngIf="item.value.esIngreso || esDetalle == true" title="Detalle del la Referencia" class="button is-info tooltip" (click)="detalle_referencia(item.value)">
                        <i class="fa fa-file-text-o"></i>
                    </a>


                  </td>

                  <td>

                    <a *ngIf="item.value.esIngreso == '1'"
                        title="Viene de una Unidad Medica"
                        class="button is-success is-rounded">
                      <i class="fa fa-arrow-circle-left"></i>
                    </a>

                    <a *ngIf="item.value.esIngreso == '0'"
                      title="Se encuentra en Referencia"
                      class="button is-danger is-rounded">
                      <i class="fa fa-arrow-circle-right"></i>
                    </a>

                  </td>



                </tr>
                <tr *ngIf="ctrl.dato.get('referencias').length == 0">
                  <td colspan="5" style="vertical-align: middle; color:#888;">El paciente no tiene referencias.</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div [ngClass]="{ 'is-hidden': tab != 3}" >

              <div *ngIf="ctrl.dato">

                  <a [ngClass]="{ 'is-hidden' : clues_origen_login.clues != ctrl.dato.controls.clues_actual.value || ctrl.dato.get('altas_incidencias').length > 0}" class="button is-success" (click)="nueva_alta()">
                    <span class="icon">
                      <i class="fa fa-plus"></i>
                    </span>&nbsp; Generar Alta
                  </a>

              </div>

            <table class="table is-striped is-fullwidth" *ngIf="!ctrl.cargando">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Turno</th>
                  <th>Tipo de Alta</th>
                  <th>Medico quien Reporta</th>
                  <th>Diagnóstico de Egreso</th>
                  <th>Observación de Trabajo Social</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody *ngIf="ctrl.dato">
                <tr *ngFor="let item of ctrl.dato.controls.altas_incidencias.controls; let j=index">
                  <th style="vertical-align: middle;">
                    <a>{{ j+1 }}</a>
                  </th>
                  <td style="vertical-align: middle;">
                    <a>{{ item.value.turnos.nombre }}</a>
                  </td>
                  <td style="vertical-align: middle;">
                    <a>{{ item.value.tipos_altas.nombre }}</a>
                  </td>
                  <td style="vertical-align: middle;">
                    <a>{{ item.value.medico_reporta_id }}</a>
                  </td>
                  <td style="vertical-align: middle;">
                    <a [innerHTML]='item.value.diagnostico_egreso | formatoHtml'></a>
                  </td>
                  <td style="vertical-align: middle;">
                    <a [innerHTML]='item.value.observacion_trabajo_social | formatoHtml'></a>
                  </td>
                  <td>
                    <a *ngIf="item.value.esQuitar == true" title="Quitar Alta" class="button is-danger tooltip" (click)="ctrl.quitar_form_array(ctrl.dato.controls.altas_incidencias, j);">
                        <i class="fa fa-trash-o"></i>
                    </a>

                    <a *ngIf="item.value.id || esDetalle == true" title="Detalle del Alta" class="button is-info tooltip" (click)="detalle_alta(item.value)">
                      <i class="fa fa-file-text-o"></i>
                    </a>

                  </td>

                </tr>
                <tr *ngIf="ctrl.dato.get('altas_incidencias').length == 0">
                  <td colspan="5" style="vertical-align: middle; color:#888;">El paciente no ha sido dada de alta.</td>
                </tr>
              </tbody>
            </table>

          </div>
        </section>
      </form>
    </div>
  </div>
</div>


<!--SEGUIMIENTO-->

<div class="modal" id="nuevo_seguimiento">
  <div class="modal-background"></div>
  <div class="modal-card" style="width: 80%;">
    <header class="modal-card-head">
      <p class="modal-card-title">Nuevo Seguimiento

        <a id="catalogoSeguimiento" style="float:right"
          (click)="cargarCatalogo('turnos','turnos');
          cargarCatalogo('ubicaciones_pacientes', 'ubicaciones-pacientes');
          cargarCatalogo('subcategorias_cie10','grupos-cie10');
          cargarCatalogo('grupos_cie10', 'grupos-cie10');
          cargarCatalogo('top_cie10', 'top-cie10');
          cargarCatalogo('estados_pacientes', 'estados-pacientes');
          cargarCatalogo('triage_colores', 'triage-colores');">

          <span *ngIf="!ctrl.cargando" class="icon is-medium">
              <i class="fa fa-refresh"></i>
          </span>
          <span *ngIf="ctrl.cargando" class="icon is-medium">
              <i class="fa fa-refresh fa-spin"></i>
          </span>
        </a>

      </p>
      <button class="delete" (click)="cerrarModal()"></button>
    </header>
    <section class="modal-card-body">

      <div class="columns">
          <div class="field column is-12">
              <label class="label">Turno en el que se realiza:</label>
              <p class="control has-icons-left">
                <span class="select" [ngClass]="{'is-danger': turnos_id == '' }">
                  <select class="select" [(ngModel)]="turnos_id" name="turnos_id">
                      <option value="">Elija el Turno Laboral</option>
                      <option *ngFor="let val of turnos" value="{{val.id}}">{{ val.nombre }}</option>
                  </select>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-clock-o"></i>
                </span>
                <span class="help is-danger" *ngIf="turnos_id == ''">
                  Este campo es requerido.
                </span>
              </p>
          </div>
      </div>



      <div class="columns">
        <div class="column is-4">
          <label class="label">Ubicación del Paciente:</label>
          <p class="control has-icons-left">
            <span class="select" [ngClass]="{'is-danger': ubicaciones_pacientes_id == '' }">
              <select class="select" [(ngModel)]="ubicaciones_pacientes_id" name="ubicaciones_pacientes_id" [ngClass]="{'is-danger': ubicaciones_pacientes_id?.length == 0 }">
                  <option value="">Elija la Ubicación de la Paciente</option>
                <option *ngFor="let val of ubicaciones_pacientes" value="{{val.id}}">{{ val.nombre }}</option>
              </select>
            </span>
            <span class="icon is-small is-left">
                <i class="fa fa-heartbeat"></i>
            </span>
            <span class="help is-danger" *ngIf="ubicaciones_pacientes_id == ''">
              Este campo es requerido.
            </span>
          </p>
        </div>

        <div class="column is-4">
          <label class="label">Estado del Paciente:</label>
          <p class="control has-icons-left">
            <span class="select" [ngClass]="{'is-danger': estados_pacientes_id == '' }">
              <select class="select" [(ngModel)]="estados_pacientes_id" name="estados_pacientes_id" [ngClass]="{'is-danger': estados_pacientes_id?.length == 0 }">
                  <option value="">Elija el Estado de la Paciente</option>
                <option *ngFor="let val of estados_pacientes" value="{{val.id}}">{{ val.nombre }}</option>
              </select>
            </span>
            <span class="icon is-small is-left">
                <i class="fa fa-hourglass-half"></i>
            </span>
            <span class="help is-danger" *ngIf="estados_pacientes_id == ''">
              Este campo es requerido.
            </span>
          </p>
        </div>
        <div class="column is-4">
          <label class="label">Triage:</label>
          <p class="control has-icons-left">
            <span class="select" [ngClass]="{'is-danger': triage_colores_id == '' }">
              <select class="select" [(ngModel)]="triage_colores_id" name="triage_colores_id" [ngClass]="{'is-danger': triage_colores_id?.length == 0 }">
                <option value="">Elija el Triage de la Paciente</option>
                <option *ngFor="let val of triage_colores" value="{{val.id}}">{{ val.nombre }}</option>
              </select>
            </span>
            <span class="icon is-small is-left">
                <i class="fa fa-tasks"></i>
            </span>
            <span class="help is-danger" *ngIf="triage_colores_id == ''">
              Este campo es requerido.
            </span>
          </p>
        </div>
      </div>

      <div class="columns">

        <div class="column is-12">
          <p class="control is-expanded  has-icon has-icon-right">
            <label class="label">Medico que Reporta:</label>
            <input name="medico_reporta_id" class="input" type="text" placeholder="Medico que reporta" [(ngModel)]="medico_reporta_id" [ngClass]="{'is-danger': medico_reporta_id == '' }">

            <span class="help is-danger" *ngIf="medico_reporta_id == ''">
              Este campo es requerido.
            </span>
          </p>
        </div>



      </div>

      <div class="columns">

        <div class="column is-12">
          <label class="label">Diagnóstico CIE-10 más Frecuente:</label>
          <p class="control has-icons-left">
            <span class="select" [ngClass]="{'is-danger': top_cie10_id == '' }">
              <select class="select" [(ngModel)]="top_cie10_id" name="top_cie10_id" [ngClass]="{'is-success': top_cie10_id?.length == 0 }">
                <option value="">Elija un Diagnostico CIE-10 más Frecuente</option>
                <option *ngFor="let val of top_cie10" value="{{val.id}}">{{ val.nombre }}</option>
              </select>
            </span>
            <span class="icon is-small is-left">
                <i class="fa fa-tasks"></i>
            </span>
            <span class="help is-danger" *ngIf="top_cie10_id == ''">
                Debe seleccionar un Diagnóstico CIE-10 mas Frecuente ó Buscarlo y seleccionarlo en el campo de abajo.
            </span>
          </p>
        </div>

      </div>

      <div class="columns">

        <div class="column is-12" [ngClass]="{ 'is-hidden': top_cie10_id != '' }">
            <p class="control is-expanded  has-icon has-icon-right">
              <label class="label">Diagnóstico CIE-10:</label>
              <input ngui-auto-complete [source]="cie10_term" autocomplete="false" [accept-user-input]="false" [list-formatter]="autocompleFormatoSubcategoriasCIE10" [value-formatter]="valorFormato_SubcategoriasCIE10"
                id="subcategorias_cie10_id" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados." (valueChanged)="ctrl.select_item_autocomplete(subcategorias_cie10_id, 'id', $event, $event);"
                min-chars="4" class="input" type="text" placeholder="Escriba como mínimo 4 letras para encontrar el Diagnóstico CIE10:" [(ngModel)]="subcategorias_cie10_id" [ngClass]="{'is-success': subcategorias_cie10_id == '' }">

              <span class="help is-success" *ngIf="subcategorias_cie10_id == ''">
                  Campo opcional si no ha Selecciona un Diagnósticos CIE-10 más Frecuentes.
              </span>
            </p>
        </div>

      </div>

      <div class="columns">
        <div class="control is-grouped column is-6">
          <p class="control is-expanded  has-icon has-icon-right">
            <label class="label">Atención Brindada (Indicaciones): </label>
            
            <ckeditor autofocus name="indicaciones" [(ngModel)]="indicaciones" debounce="50"
              [config]="CkeditorConfig">
            </ckeditor>
            
            <span class="help is-danger" *ngIf="indicaciones == ''">
              Este campo es requerido.
            </span>
          </p>
        </div>

        <div class="control is-grouped column is-6">
          <p class="control is-expanded  has-icon has-icon-right">
            <label class="label">Reporte Médico (Descripción): </label>
            
            <ckeditor autofocus name="reporte_medico" [(ngModel)]="reporte_medico" debounce="50"
              [config]="CkeditorConfig">
            </ckeditor>

            <span class="help is-danger" *ngIf="reporte_medico == ''">
              Este campo es requerido.
            </span>
          </p>
        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-accent" (click)="agregarSeguimiento();">Agregar</button>
      <button class="button" (click)="cerrarModal()">Cancelar</button>
    </footer>
  </div>
</div>

<!--DETALLE SEGUIMIENTO-->
<div class="modal" id="detalle_seguimiento">
  <div class="modal-background"></div>
  <div class="modal-card" style="width: 80%; height: 80%">
    <header class="modal-card-head">
      <p class="modal-card-title">Detalle del Seguimiento</p>
      <button class="delete" (click)="cerrarModalDetalleSeguimiento()"></button>
    </header>
    <section class="modal-card-body">

      <div>
        <div class="content is-center">

          <div class="columns">
            <div class="column is-6">
              <h3>Turno del seguimiento:</h3>
              <blockquote>{{turno}}</blockquote>
            </div>
            <div class="column is-6">
              <h3>Medico que reporta:</h3>
              <blockquote>{{medico}}</blockquote>
            </div>
          </div>

          <div class="columns">
            <div class="column is-6">
              <h3>N° Incidencia:</h3>
              <blockquote>{{no_incidencia}}</blockquote>
            </div>
            <div class="column is-6">
              <h3>Fecha del seguimiento:</h3>
              <blockquote>{{fecha | date: ' dd / MM / yyyy '}}</blockquote>
            </div>
          </div>

          <div class="columns">
            <div class="column is-6">
              <h3>Estado:</h3>
              <blockquote>{{estado_paciente}}</blockquote>
            </div>
            <div class="column is-6">
              <h3>Ubicación:</h3>
              <blockquote>{{ubicacion_paciente}}</blockquote>
            </div>
          </div>

          <div class="columns">
            <div class="column is-12">
              <h3>Diagnóstico CIE10:</h3>
              <blockquote>{{cie10_codigo}} : {{cie10}}</blockquote>
            </div>
          </div>

          <div class="columns">
            <div class="column is-6">
              <h3>Indicaciones:</h3>
              <blockquote [innerHTML]='indi | formatoHtml'></blockquote>
            </div>
            <div class="column is-6">
              <h3>Reporte Medico:</h3>
              <blockquote [innerHTML]='reporte | formatoHtml'></blockquote>
            </div>
          </div>


        </div>
      </div>

    </section>
  </div>
</div>

<!--MODAL VALIDACION SEGUIMIENTO-->
<div class="modal" id="seguimiento_datos_vacios">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title"><i class="fa fa-warning"></i> Alerta</p>
        <button class="delete" (click)="cerrarModalValidacionSeguimiento();"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h1>¡Debe llenar todos los datos del Seguimiento!</h1>
                <p>Verifique cada uno de los campos</p>
            </div>
        </section>
        <footer class="modal-card-foot">
        <a class="button is-success" (click)="cerrarModalValidacionSeguimiento();">Continuar</a>
        </footer>
    </div>
</div>


<!--REFERENCIA-->

<div class="modal" id="referencia" >
  <div class="modal-background"></div>
  <div class="modal-card" style="width: 80%; height:80%;">
    <header class="modal-card-head">
      <p class="modal-card-title">Nueva Referencia</p>
      <button class="delete" (click)="cerrarModalReferencia()"></button>
    </header>
    <section class="modal-card-body">

       <div class="columns" >
        <div class="column is-16">
          <div class="file" >
            <label class="file-label">
              <input class="file-input" multiple="multiple" name="img" (change)="seleccionarImagenBase64($event, img, true)"
              [ngModel]="img" autofocus type="file" accept="image/*">

              <span class="file-cta">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                  Subir Imagenes de la Referencia...
                </span>
              </span>
            </label>
          </div>
        </div>


        <div class="column is-16">
          <div class="block" *ngIf="img.length > 0">
            <a class="button is-primary is-outlined" (click)="abrirModal('verFoto')">
              <span class="icon">
                <i class="fa fa-eye"> </i>
              </span> &nbsp; Ver Imagenes
            </a>
          </div>
          <div class="modal" id="verFoto" >
            <div class="modal-background"></div>
            <div class="modal-content">

              <div class="image is-4by3" *ngFor="let im of img; let ix = index;">
                <img [src]="'data:image/jpg;base64,'+im.foto" alt="" />
              </div>


            </div>
            <button type="button" class="modal-close fa-2x" (click)="cancelarModal('verFoto')"></button>
          </div>

        </div>
      </div> 

      <div class="columns">
        <div class="column is-12">
          <p class="control is-expanded  has-icon has-icon-right">
            <label class="label">Medico quien Refiere:</label>
            <input name="medico_refiere_id" class="input" type="text" placeholder="Medico que reporta" [(ngModel)]="medico_refiere_id" [ngClass]="{'is-danger': medico_refiere_id == '' }">

            <span class="help is-danger" *ngIf="medico_refiere_id == ''">
              Este campo es requerido.
            </span>
          </p>
        </div>
      </div>

      <div class="columns">
        <div class="column is-6">
          <div class="control is-grouped">
            <p class="control is-expanded  has-icon has-icon-right">
              <label class="label">Diagnóstico: </label>

              <ckeditor autofocus name="diagnostico" [(ngModel)]="diagnostico" debounce="50"
                [config]="CkeditorConfig">
              </ckeditor>

              <span class="help is-danger" *ngIf="diagnostico == ''">
                Este campo es requerido.
              </span>
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="control is-grouped">
            <p class="control is-expanded  has-icon has-icon-right">
              <label class="label">Resumen Clínico: </label>

              <ckeditor autofocus name="resumen_clinico" [(ngModel)]="resumen_clinico" debounce="50"
                [config]="CkeditorConfig">
              </ckeditor>

              <span class="help is-danger" *ngIf="resumen_clinico == ''">
                Este campo es requerido.
              </span>
              
            </p>
          </div>
        </div>
      </div>

      <div class="columns" >

        <!-- <div class="column is-5">
          <p class="control is-expanded  has-icon has-icon-right">
            <label class="label">Unidad Medica de Origen:</label>
            <input type="text" id="clues_origen" class="input" readonly>
          </p>
        </div> -->

        <div class="column is-10">
          <p class="control is-expanded  has-icon has-icon-right">
            <label class="label">Unidad Médica donde Refieren a la Paciente (Destino):</label>
            <input ngui-auto-complete autocomplete="false"
                  [accept-user-input]="false"
                  [source]="clues_estado_fuerza"
                  [list-formatter]="autocompleListFormatter"
                  [value-formatter]="valorFormato_destino"
                  id="clues_destino" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados."
                  (valueChanged)="select_destino_estado_fuerza_autocomplete(clues_destino, 'clues', $event, false);
                  select_destino_autocomplete($event, $event, $event);"
                  min-chars="4" class="input" type="text" placeholder="Escriba como mínimo 4 letras para encontrar la Unidad Medica:"
                  [(ngModel)]="clues_destino" [ngClass]="{'is-danger': clues_destino == '' }">

              <span class="help is-danger" *ngIf="clues_destino == ''">
                Este campo es requerido.
              </span>
              
          </p>
        </div>
        <div class="column is-2" *ngIf="mostrar_estado_fuerza == true">
            <div class="block">
              <label class="label">Estado de Fuerza:</label>
                <a class="button is-primary" (click)="verEstadoFuerza()">
                  <span class="icon">
                    <i class="fa fa-eye"> </i>
                  </span> &nbsp; Ver Estado de Fuerza
                </a>
            </div>
        </div>

      </div>




      <div class="columns">
        <div class="column is-6">
          <p class="control is-expanded  has-icon has-icon-right">
            <label class="label">Tiempo de traslado:</label>
            <input class="input" type="text" placeholder="Tiempo de Traslado" id="tiempo_traslado" readonly>
          </p>
        </div>
        <div class="column is-6">
          <p class="control is-expanded  has-icon has-icon-right">
            <label class="label">Distancia de traslado:</label>
            <input class="input" type="text" placeholder="Distancia de Traslado" id="distancia_traslado" readonly>
          </p>
        </div>
      </div>
      <div>
        <p class="control is-expanded  has-icon has-icon-right">
          <label class="label">Descripción de la Ruta:</label>
          <textarea class="textarea" type="text" placeholder="Descripción de la Ruta" id="observaciones" readonly></textarea>
        </p>
      </div>
      <br>
      <div style="height: 400px; border-radius: 15px" id="map"></div>
      <br>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-accent" (click)="agregarReferencia();">Agregar</button>
      <button class="button" (click)="cerrarModalReferencia()">Cancelar</button>
    </footer>
  </div>
</div>

<!--DETALLE REFERENCIA-->
<div class="modal" id="detalle_referencia">
  <div class="modal-background"></div>
  <div class="modal-card" style="width: 80%; height: 80%">

    <header class="modal-card-head">
      <p class="modal-card-title">Detalle de la Referencia</p>
      <button class="delete " (click)="cerrarModalDetalleReferencia()"></button>
    </header>

    <section class="modal-card-body">

      <div>

        <div class="content is-center">

          <div class="columns">
                <div class="column is-6">
                    <div class="block" *ngIf="img_referencia != '' "> <!--*ngIf="img_referencia.length > 0" -->
                     <a class="button is-primary is-outlined" (click)="abrirModalDetalle('verReferencia')">
                       <span class="icon">
                         <i class="fa fa-eye"> </i>
                       </span> &nbsp; Ver Imagenes de la Referencia
                     </a>
                   </div>
                   <div class="modal" id="verReferencia" (click)="cerrarModalDetalle('verReferencia')">
                       <div class="modal-background"></div>
                       <div class="modal-content">
                           <p class="image is-4by3" *ngFor="let img of img_referencia; let imi = index;">
                               <img [src]="url_img_referencias+img.url" alt="" />
                           </p>
                       </div>
                       <button type="button" class="modal-close" (click)="cerrarModalDetalle('verReferencia')"></button>
                   </div>
                 </div>
          </div>


          <div class="columns">
            <div class="column is-6">
              <h3>N° Incidencia:</h3>
              <blockquote>{{folio_referencia}}</blockquote>
            </div>
            <div class="column is-6">
              <h3>Medico que reporta:</h3>
              <blockquote>{{medico_reporta_referencia}}</blockquote>
            </div>
          </div>

          <div class="columns">
            <div class="column is-6">
              <h3>Unidad Medica de Origen:</h3>
              <blockquote>{{origen_referencia}}</blockquote>
            </div>

            <div class="column is-6">
              <h3>Unidad Medica de Destino:</h3>
              <blockquote>{{destino_referencia}}</blockquote>
            </div>

          </div>

          <div class="columns">
            <div class="column is-6">
              <h3>Diagnostico:</h3>
              <blockquote [innerHTML]='diagnostico_referencia | formatoHtml'></blockquote>
            </div>
            <div class="column is-6">
              <h3>Resumen Clinico:</h3>
              <blockquote [innerHTML]='resumen_clinico_referencia | formatoHtml'></blockquote>
            </div>
          </div>


        </div>
      </div>

    </section>
  </div>
</div>

<!--MODAL VALIDACION REFERENCIA-->
<div class="modal" id="referencia_datos_vacios">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title"><i class="fa fa-warning"></i> Alerta</p>
        <button class="delete" (click)="cerrarModalValidacionReferencia();"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h1>¡Debe llenar todos los datos de la Referencia!</h1>
                <p>Verifique cada uno de los campos</p>
            </div>
        </section>
        <footer class="modal-card-foot">
        <a class="button is-success" (click)="cerrarModalValidacionReferencia();">Continuar</a>
        </footer>
    </div>
</div>

<!--ALTA-->

<div class="modal" id="alta">
  <div class="modal-background"></div>
  <div class="modal-card" style="width: 80%; height:80%;">
    <header class="modal-card-head">
      <p class="modal-card-title">Alta del Paciente
          <a id="catalogosAlta" style="float:right"
            (click)="cargarCatalogo('triage_colores', 'triage-colores');
              cargarCatalogo('metodos_planificacion','metodos-planificacion');
              cargarCatalogo('tipos_altas', 'tipos-altas');">

            <span *ngIf="!ctrl.cargando" class="icon is-medium">
                <i class="fa fa-refresh"></i>
            </span>
            <span *ngIf="ctrl.cargando" class="icon is-medium">
                <i class="fa fa-refresh fa-spin"></i>
            </span>
          </a>
      </p>
      <button class="delete" (click)="cerrarModalAlta()"></button>
    </header>
    <section class="modal-card-body">

        <div class="columns" >
            <div class="column is-16">
              <div class="file" >
                <label class="file-label">
                  <input class="file-input" multiple="multiple" name="imgalta" (change)="seleccionarImagenBase64($event, imgalta, true)" 
                  [ngModel]="imgalta" autofocus type="file" accept="image/*">
    
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Subir Imagen del alta
                    </span>
                  </span>
                </label>
              </div>
            </div>
    
    
            <div class="column is-16">
              <div class="block" *ngIf="imgalta.length > 0">
                <a class="button is-primary is-outlined" (click)="abrirModal('verFotosAlta')">
                  <span class="icon">
                    <i class="fa fa-eye"> </i>
                  </span> &nbsp; Ver imagenes del alta
                </a>
              </div>
              <div class="modal" id="verFotosAlta" (click)="cancelarModal('verFotosAlta')">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <p class="image is-4by3" *ngFor="let im of imgalta; let ix = index;">
                    <img [src]="'data:image/jpg;base64,'+im.foto" alt="" />
                  </p>
                </div>
                <button type="button" class="modal-close" (click)="cancelarModal('verFotosAlta')"></button>
              </div>
    
            </div>
          </div>

          <div class="columns">
            <div class="column is-6">
                <p class="control is-expanded  has-icon has-icon-right">
                  <label class="label">Institución que recibió (Unidad Medica que contrarefiere):</label>
                  <input type="text" class="input" id="contrareferencia" name="clues_contrareferencia" [(ngModel)]="clues_contrareferencia" readonly>
                </p>
              </div>

              <div class="column is-6">
                <p class="control is-expanded  has-icon has-icon-right">
                  <label class="label">Unidad Médica que solicitó (Unidad Médica a donde regresa):</label>
                  <input ngui-auto-complete [source]="clues_term"
                    [list-formatter]="autocompleListFormatterRegresa"
                    [value-formatter]="valorFormato_regresa"
                    id="clues_regresa" path-to-data="" autocomplete="false" [accept-user-input]="false" loading-text="Cargando..." no-match-found-text="No hay resultados."
                    (valueChanged)="ctrl.select_item_autocomplete(clues_regresa, 'clues', $event, false);"
                    min-chars="4" class="input" type="text" placeholder="Unidad Médica a donde regresa, Escriba como mínimo 4 letras para encontrar la Unidad Medica:"
                    [(ngModel)]="clues_regresa" [ngClass]="{'is-danger': clues_regresa == '' }">

                    <span class="help is-danger" *ngIf="clues_regresa == ''">
                      Este campo es requerido.
                    </span>
                </p>
              </div>

          </div>


      <div class="columns">

        <div class="field column is-6">
          <label class="label">Turno en el que se realiza el alta:</label>
          <p class="control has-icons-left">
            <span class="select" [ngClass]="{'is-danger': tur_id == '' }">
              <select class="select" [(ngModel)]="tur_id" name="tur_id">
                <option  value="">Elija el Turno Laboral</option>
                <option *ngFor="let val of turnos" value="{{val.id}}">{{ val.nombre }}</option>
              </select>
            </span>
            <span class="icon is-small is-left">
                <i class="fa fa-clock-o"></i>
            </span>

            <span class="help is-danger" *ngIf="tur_id == ''">
              Este campo es requerido.
            </span>
          </p>
        </div>


        <div class="field column is-6">
          <label class="label">Tipo de Alta:</label>
          <p class="control has-icons-left">
            <span class="select" [ngClass]="{'is-danger': t_altas_id == '' }">
              <select class="select" [(ngModel)]="t_altas_id" name="t_altas_id">
                <option value="">Elija el Tipo de Alta de la Paciente</option>
                <option *ngFor="let val of tipos_altas" value="{{val.id}}">{{ val.nombre }}</option>tipos_altas
              </select>
            </span>
            <span class="icon is-small is-left">
                <i class="fa fa-sign-out"></i>
            </span>

            <span class="help is-danger" *ngIf="t_altas_id == ''">
              Este campo es requerido.
            </span>
          </p>
        </div>

      </div>

      <div class="columns">
        <div class="column is-6">
            <label class="label">¿Llevara Control Puerperal?</label>
            <br>
            <label class="radio styled">
                <input #llevaControl type="radio" name="pregunta" checked>
                <strong>Si</strong>
            </label>
  
            <label class="radio styled">
                <input #nollevaControl type="radio" name="pregunta">
                <strong>No</strong>
            </label>
        </div>
      </div>



      <div class="columns">
        <div class="column is-12">
          <p class="control is-expanded  has-icon has-icon-right">
            <label class="label">Medico que Reporta:</label>
            <input name="me_reporta_id" class="input" type="text" placeholder="Medico que reporta" [(ngModel)]="me_reporta_id" [ngClass]="{'is-danger': me_reporta_id == '' }">

            <span class="help is-danger" *ngIf="me_reporta_id == ''">
              Este campo es requerido.
            </span>
            
          </p>
        </div>
      </div>

      <label class="label" style="text-align: center;">MANEJO DEL PACIENTE:</label>

        <div class="columns">

            <div class="control is-grouped column is-6">
                <p class="control is-expanded  has-icon has-icon-right">
                  <label class="label">Resumen Clinico: </label>

                    <ckeditor autofocus name="r_clinico" [(ngModel)]="r_clinico" debounce="50"
                      [config]="CkeditorConfig">
                    </ckeditor>

                    <span class="help is-danger" *ngIf="r_clinico == ''">
                      Este campo es requerido.
                    </span>
                </p>
            </div>

            <div class="control is-grouped column is-6">
              <p class="control is-expanded  has-icon has-icon-right">
                <label class="label">Diagnóstico de Egreso: </label>

                  <ckeditor autofocus name="diagnostico_egreso" [(ngModel)]="diagnostico_egreso" debounce="50"
                    [config]="CkeditorConfig">
                  </ckeditor>

                  <span class="help is-danger" *ngIf="diagnostico_egreso == ''">
                    Este campo es requerido.
                  </span>
              </p>
            </div>
        </div>

        <div class="field column is-12">
          <label class="label">Método de Planificación:</label>
          <p class="control has-icons-left">
            <span class="select" [ngClass]="{'is-danger': me_planificacion_id == '' }">
              <select class="select" [(ngModel)]="me_planificacion_id" name="me_planificacion_id">
                <option  value="">Elija el Método de Planificación</option>
                <option *ngFor="let val of metodos_planificacion" value="{{val.id}}">{{ val.nombre }}</option>
              </select>
            </span>
          
            <span class="icon is-small is-left">
                <i class="fa fa-calendar-check-o"></i>
            </span>

            <span class="help is-danger" *ngIf="me_planificacion_id == ''">
              Este campo es requerido.
            </span>
          </p>
        </div>

        <div class="columns">
          <div class="control is-grouped column is-6">
              <p class="control is-expanded  has-icon has-icon-right">
                <label class="label">Observación de Trabajo Social: </label>
    
                <ckeditor autofocus name="observacion_trabajo_social" [(ngModel)]="observacion_trabajo_social" debounce="50"
                  [config]="CkeditorConfig">
                </ckeditor>
    
                  <span class="help is-danger" *ngIf="observacion_trabajo_social == ''">
                    Este campo es requerido.
                  </span>
              </p>
            </div>

            <div class="control is-grouped column is-6">
              <p class="control is-expanded  has-icon has-icon-right">
                <label class="label">Instrucciones y Recomendaciones para el manejo del paciente en su unidad de adscripción:</label>
  
                  <ckeditor autofocus name="i_recomendaciones" [(ngModel)]="i_recomendaciones" debounce="50"
                    [config]="CkeditorConfig">
                  </ckeditor>
                  
                  <span class="help is-danger" *ngIf="i_recomendaciones == ''">
                    Este campo es requerido.
                  </span>
              </p>
            </div>
        </div>

      <br>


    </section>
    <footer class="modal-card-foot">
      <button class="button is-accent" (click)="agregarAlta();">Agregar</button>
      <button class="button" (click)="cerrarModalAlta()">Cancelar</button>
    </footer>
  </div>
</div>

<!--DETALLE ALTA-->
<div class="modal" id="detalle_alta">

    <div class="modal-background"></div>
    <div class="modal-card" style="width: 80%; height:80%">
      <header class="modal-card-head">
        <p class="modal-card-title">Detalle del Alta</p>
        <button class="delete" (click)="cerrarModalDetalleAlta()"></button>
      </header>
      <section class="modal-card-body">
  
        <!-- <div class="media">
          <figure class="image is-64x64">
            <img class="is-medium" src="./assets/iconos/icono-detalle-referencia.svg" alt="Referencia">
          </figure>
        </div> --> 
  
        <div>
  
          <div class="content is-center">
          
          <div class="columns">
              <div class="column is-6">
                  <div class="block"  *ngIf="img_alta != ''"> <!--*ngIf="img_alta.length > 0" -->
                    <a class="button is-primary is-outlined" (click)="abrirModalDetalle('verAlta')">
                      <span class="icon">
                        <i class="fa fa-eye"> </i>
                      </span> &nbsp; Ver Imagenes del Alta
                    </a>
                  </div>
                  <div class="modal" id="verAlta" (click)="cerrarModalDetalle('verAlta')">
                      <div class="modal-background"></div>
                      <div class="modal-content">
                          <p class="image is-4by3" *ngFor="let alta of img_alta; let imi = index;">
                              <img [src]="url_img_altas+alta.url" alt="" />
                          </p>
                      </div>
                      <button type="button" class="modal-close" (click)="cerrarModalDetalle('verAlta')"></button>
                  </div>
                </div>
          </div>
  
            <div class="columns">
              <div class="column is-4">
                <h3>Fecha y Hora del Alta:</h3>
                <blockquote>{{fecha_alta}}</blockquote>
              </div>
              <div class="column is-4">
                <h3>N° Incidencia:</h3>
                <blockquote>{{folio_referencia}}</blockquote>
              </div>
              <div class="column is-4">
                <h3>Medico quien realizo el Alta:</h3>
                <blockquote>{{medico_alta}}</blockquote>
              </div>
            </div>

  
            <div class="columns">
              <div class="column is-6">
                <h3>Unidad Médica que Contrarefiere:</h3>
                <blockquote>{{clues_contrarefiere_alta}}</blockquote>
              </div>
  
              <div class="column is-6">
                <h3>Unidad Médica a donde regresa:</h3>
                <blockquote>{{clues_regresa_alta}}</blockquote>
              </div>
            </div>
  
  
            <div class="columns">
              <div class="column is-6">
                <h3>Turno del Alta:</h3>
                <blockquote>{{turno_alta}}</blockquote>
              </div>
              <div class="column is-6">
                <h3>Tipo de Alta:</h3>
                <blockquote>{{tipo_alta}}</blockquote>
              </div>
            </div>

            <div class="columns">
              <div class="column is-6">
                <h3>Resumen Clinico:</h3>
                <blockquote [innerHTML]='resumen_alta | formatoHtml'></blockquote>
              </div>
              <div class="column is-6">
                <h3>Diagnostico de Egreso:</h3>
                <blockquote [innerHTML]='diagnostico_alta | formatoHtml'></blockquote>
              </div>
            </div>

            <div class="columns">
              <div class="column is-6">
                <h3>Método de Planificación:</h3>
                <blockquote>{{metodos_planificacion_alta}}</blockquote>
              </div>
              <div class="column is-6">
                <h3>Observación de Trabajo Social:</h3>
                <blockquote [innerHTML]='observaciones_ts_alta | formatoHtml'></blockquote>
              </div>
            </div>

            <div class="columns">
              <div class="column is-12">
                <h3>Instrucciones y Recomendaciones:</h3>
                <blockquote [innerHTML]='instrucciones_alta | formatoHtml'></blockquote>
              </div>
            </div>
  
  
          </div>
        </div>
  
      </section>
    </div>
</div>

  <!--MODAL VALIDACION ALTA-->
<div class="modal" id="alta_datos_vacios">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title"><i class="fa fa-warning"></i> Alerta</p>
        <button class="delete" (click)="cerrarModalValidacionAlta();"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h1>¡Debe llenar todos los datos del Alta!</h1>
                <p>Verifique cada uno de los campos</p>
            </div>
        </section>
        <footer class="modal-card-foot">
        <a class="button is-success" (click)="cerrarModalValidacionAlta();">Continuar</a>
        </footer>
    </div>
</div>

<!--ESTADO DE FUERZA-->
<div class="modal" id="estado_fuerza">

    <div class="modal-background"></div>
    <div class="modal-card" style="width: 60%; height:80%">
      <header class="modal-card-head">
        <p class="modal-card-title is-center">
          Estado de Fuerza de la Unidad Médica:
          <br><br>
          {{clues_destino}}
          <br><br>
          <span *ngIf="estado_fuerza_creado">
            Fecha y Hora del ultimo Estado de Fuerza: {{estado_fuerza_creado | date: ' dd/MM/yyyy H:mm:ss'}} Hrs.
          </span>
        </p>
        <button class="delete" (click)="cerrarModalEstadoFuerza()"></button>
      </header>
      <section class="modal-card-body">
  
        <!-- <div class="media">
          <figure class="image is-64x64">
            <img class="is-medium" src="./assets/iconos/icono-detalle-referencia.svg" alt="Referencia">
          </figure> 
        </div> --> 
  
        <div class="media-content">
  
          <div class="content">
            <div>

              <a style="text-align: center;" *ngIf="estado_fuerza_disponible.length == 0">
                  <h1 style="color:#B40404">NO TIENE UN ESTADO DE FUERZA ACTUALIZADO</h1>
                  <img src="../assets/iconos/icono-clues.png">
              </a>

              <div class="card is-center" *ngFor="let serv of estado_fuerza_disponible; let s=index">
                  <header class="card-header">
                      <p class="card-header-title">
                          Servicios
                      </p>
                  </header>
                  <div class="card-content">
                      <div class="content">
                          <!-- cartera -->

                          <div class="card" *ngFor="let areas of serv; let i=index">
                              <header class="card-header">
                                  <p class="card-header-title">
                                    {{areas.nombre}}
                                  </p>                                        
                              </header>
                              <div class="card-content">
                                  <div class="content">
                                      <div class="control" *ngFor="let elementos of areas.items; let j=index">                                              
                                          <div *ngIf="elementos.tipos_items_id == 1" style="margin-bottom: 5px;">
                                              <label>
                                                {{ elementos.nombre }}
                                                <br>
                                                  <a *ngIf="elementos.respuesta == 1" >
                                                      <span class="tag is-success"><i class="fa fa-check"></i> &nbsp; Si</span>
                                                  </a>
                                                  
                                                  <a *ngIf="elementos.respuesta == 0" >
                                                      <span class="tag is-danger"><i class="fa fa-window-close"></i> &nbsp; No</span>
                                                  </a>
                                              </label>
                                          </div>  
                                          <span *ngIf="elementos.tipos_items_id == 2">
                                                  {{ elementos.nombre }}                                               
                                            <input  class="input" type="number" value="{{elementos.respuesta}}" readonly> 
                                          </span> 

                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                      </div>
                  </div>
              </div>

            </div>
          </div>
        </div>
  
      </section>
    </div>
</div>
